Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format configs:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git add {staged_files}

type check:
  run: yarn typecheck

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files} && git add {staged_files}

changing the syle to abuse titles less
  docs/12-self-hosting/03-host-creation/03-QEMU/04-windows.mdx
Due: format documents

changing the syle to abuse titles less
  docs/12-self-hosting/03-host-creation/03-QEMU/03-linux-liveiso.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/04-windows.mdx
Due: format documents

cleanup dangling :
  docs/12-self-hosting/03-host-creation/03-QEMU/03-linux-liveiso.mdx
Due: format documents

Fix Versions page closes #410, credits to EliasVal <3
  src/components/docs/versions/builds/build-failure-details.tsx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.module.scss
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/date-time.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/docker-image-link.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/major-editor-version.tsx
  src/components/docs/versions/unity-version.module.scss
  src/components/docs/versions/unity-version.tsx
  src/components/docs/versions/unity-versions.tsx
  src/components/molecules/tooltip/tooltip.module.scss
  src/components/molecules/tooltip/tooltip.tsx
Due: format code, type check, run tests

Replace icons with text for better dark and light theme
  src/components/docs/versions/builds/build-row.tsx
Due: format code, type check, run tests

Remove extra lines and comments
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/unity-version.module.scss
Due: format code, type check, run tests

Update completed emoji for better dark and light theme
  src/components/docs/versions/unity-version.tsx
Due: format code, type check, run tests

Update fontSize for arrow icon in versions list
  src/components/docs/versions/major-editor-version.tsx
Due: format code, type check, run tests

Fix Versions page closes #410, credits to EliasVal <3 (#432)
  src/components/docs/versions/builds/build-failure-details.tsx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.module.scss
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/date-time.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/docker-image-link.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/major-editor-version.tsx
  src/components/docs/versions/unity-version.module.scss
  src/components/docs/versions/unity-version.tsx
  src/components/docs/versions/unity-versions.tsx
  src/components/molecules/tooltip/tooltip.module.scss
  src/components/molecules/tooltip/tooltip.tsx
Due: format code, type check, run tests

Fix typos (#431)
  docs/03-github-cloud-runner/01-introduction.mdx
  docs/03-github-cloud-runner/03-examples/01-command-line.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
  docs/03-github-cloud-runner/06-advanced-topics/05-logging.mdx
  docs/03-github-cloud-runner/06-advanced-topics/06-secrets.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
  versioned_docs/version-2/03-github-cloud-runner/01-introduction.mdx
  versioned_docs/version-2/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
  versioned_docs/version-2/03-github-cloud-runner/06-advanced-topics/05-logging.mdx
  versioned_docs/version-2/03-github-cloud-runner/06-advanced-topics/06-secrets.mdx
Due: format documents

Add link to parallel example
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Simplify wording a bit
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Add new parameters for cpu and memory limits
  docs/03-github/04-builder.mdx
Due: format documents

Update to reflect new memory/cpu limit logic
  docs/03-github/04-builder.mdx
Due: format documents

Update to server 2022
  docs/03-github/01-getting-started.mdx
Due: format documents

Fix brackets
  docs/03-github/04-builder.mdx
Due: format documents

Add process isolation mode docs
  docs/03-github/04-builder.mdx
Due: format documents

Add parallel execution of tests and builds example + improved no space left on device (#427)
  docs/03-github/01-getting-started.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Formatting pass, add new diagrams
  docs/12-self-hosting/01-overview.mdx
  docs/12-self-hosting/02-host-types.mdx
  docs/12-self-hosting/03-host-creation/02-multipass.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/01-overview.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/02-linux-cloudimage.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/04-windows.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/05-macos.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/06-configuration.mdx
  docs/12-self-hosting/03-host-creation/04-kubernetes.mdx
  docs/12-self-hosting/04-host-provisioning/01-debian-setup.mdx
  docs/12-self-hosting/04-host-provisioning/02-ubuntu-setup.mdx
  static/assets/images/DockerHost.drawio.png
  static/assets/images/Virtualization.drawio.png
  static/assets/images/diskmark-sata.png
  static/assets/images/diskmark-virtio.png
  static/assets/images/k8s-layer0.drawio.png
  static/assets/images/k8s-layer1.drawio.png
  static/assets/images/k8s-layer2.drawio.png
  static/assets/images/k8s-layers.drawio.png
  static/assets/images/k8s-layers01.drawio.png
  static/assets/images/k8s-layers012.drawio.png
  static/assets/images/kubernetes.drawio.png
Due: format documents

center images and lint
  docs/12-self-hosting/03-host-creation/03-QEMU/04-windows.mdx
Due: format documents

proof-reading and docgfood pass on k8s docs
  docs/12-self-hosting/03-host-creation/03-QEMU/01-overview.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/02-linux-cloudimage.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/03-linux-liveiso.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/05-macos.mdx
  docs/12-self-hosting/03-host-creation/04-kubernetes.mdx
  docs/12-self-hosting/04-host-provisioning/04-kubernetes.mdx
Due: format documents

add info on creating secrets, minor formatting
  docs/12-self-hosting/04-host-provisioning/04-kubernetes.mdx
Due: format documents

Resolve dependabot warnings
  package.json
  yarn.lock
Due: format configs

Revert "Resolve dependabot warnings"
  package.json
  yarn.lock
Due: format configs

Bump test runner version to v4, add docker resource limits and isolation mode to test runner. Fix various image versions being out of date. Improve isolation mode description
  docs/03-github/01-getting-started.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
  docs/05-gitlab/02-activation.mdx
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

move k8s to new branch to unblock the rest of the docs
  docs/12-self-hosting/04-host-provisioning/04-kubernetes.mdx
Due: format documents

re-center images
  docs/12-self-hosting/03-host-creation/03-QEMU/02-linux-cloudimage.mdx
Due: format documents

change image indent so linter wont wreck the spacing
  docs/12-self-hosting/03-host-creation/03-QEMU/02-linux-cloudimage.mdx
Due: format documents

remove text artifact inserted by linter
  docs/12-self-hosting/03-host-creation/03-QEMU/02-linux-cloudimage.mdx
Due: format documents

center images
  docs/12-self-hosting/03-host-creation/03-QEMU/03-linux-liveiso.mdx
Due: format documents

add disclaimers to advanced configs, add more examples to windows
  docs/12-self-hosting/03-host-creation/03-QEMU/04-windows.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/06-configuration.mdx
Due: format documents

remove text artifact introduced by linter and minor formatting fix
  docs/12-self-hosting/03-host-creation/03-QEMU/05-macos.mdx
Due: format documents

Improve definitions of new parameters
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Update activation docs
  docs/03-github/02-activation.mdx
Due: format documents

Update deprecated parameter
  docs/03-github/06-deployment/android.mdx
Due: format documents

Replace androidAppBundle with androidExportType
  docs/03-github/06-deployment/android.mdx
Due: format documents

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/|build/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/|build/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  type check: any of: *.{ts,tsx}, but not: .docusaurus/|build/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  make shell script executable: any of: *.sh, but not: .docusaurus/|build/
