Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: 'yarn prettier --write {staged_files} &&
  
    yarn eslint {staged_files} &&
  
    git add {staged_files}
  
    '

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files}

chore: remove redundant plugin
  .eslintrc.json
Due: format configs

chore: enable test check
  lefthook.yml
Due: format configs

chore: add token
  .github/workflows/checks.yml
Due: format configs

feat: add core coverage report in PR
  codecov.yml
Due: format configs

chore: enforce linting - add test setup (#290)
  .eslintignore
  .eslintrc.json
  .github/workflows/cats.yml
  .github/workflows/checks.yml
  .prettierignore
  codecov.yml
  docs/03-github/06-deployment/ios.mdx
  jest.config.js
  lefthook.yml
  package.json
  src/components/auth/safe-auth-check.tsx
  src/components/docs/versions/date-time.tsx
  tests/__mocks__/fileMock.js
  tests/test-utils.tsx
  tests/tsconfig.json
  yarn.lock
Due: format documents, format configs, format code, run tests

Fix numbering
  docs/03-github/05-returning-a-license.mdx
  docs/03-github/06-deployment/android.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Fix numbering (#292)
  docs/03-github/05-returning-a-license.mdx
  docs/03-github/06-deployment/android.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add Actions-based Fastlane Match workflow to iOS deployment guide
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Fixing Artifact download destination
  docs/03-github/06-deployment/android.mdx
Due: format documents

Update docs/03-github/06-deployment/ios.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Auto-format iOS deploy docs with Prettier
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Standardize capitalization of fastlane
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add Actions-based Fastlane Match workflow to iOS deployment guide (#293)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Fix 'welcome' footer link
  docusaurus.config.js
Due: format code, run tests

Fix 'welcome' footer link (#297)
  docusaurus.config.js
Due: format code, run tests

fix: typo in bug report and rephrase to further simplify
  .github/ISSUE_TEMPLATE/bug_report.md
Due: format documents

feat: lighthouse report
  .github/workflows/lighthouse-formatter.js
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
Due: format configs, format code, run tests

fix: expected module
  .github/workflows/lighthouse-formatter.mjs
  .github/workflows/lighthouse-report.yml
Due: format configs

chore: remove push trigger
  .github/workflows/lighthouse-report.yml
Due: format configs

chore: rename workflow
  .github/workflows/lighthouse-report.yml
Due: format configs

Improve ci (#298)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/lighthouse-formatter.mjs
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
Due: format documents, format configs

chore: test
  test
Due: none

Update ios.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update ios.mdx (#301)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add sync_certificates lane to Fastfile
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Consistently use fastlane ios instead of just fastlane
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add sync_certificates lane to iOS deployment Fastfile (#302)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add more integration for sync_certificates
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add more integration for sync_certificates (#303)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add FAQ page
  docs/10-faq/index.mdx
Due: format documents

Add FAQ links 🚀
  docusaurus.config.js
Due: format code, run tests

Add FAQ redirect so we can https://game.ci/faq ⚡
  vercel.json
Due: format configs

Update FAQ title to include "Frequently Asked Questions"
  docs/10-faq/index.mdx
Due: format documents

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  make shell script executable: any of: *.sh
