Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: 'yarn prettier --write {staged_files} &&
  
    yarn eslint {staged_files} &&
  
    git add {staged_files}
  
    '

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files}

Update docs/cloud-runner/01-introduction.md
  docs/cloud-runner/01-introduction.md
Due: format documents

Update 06-development.md
  docs/cloud-runner/06-development.md
Due: format documents

Update 01-introduction.md
  docs/cloud-runner/01-introduction.md
Due: format documents

Cloud runner v0 docs (#279)
  docs/04-github/06-remote-builder.md
  docs/cloud-runner/01-introduction.md
  docs/cloud-runner/02-game-ci-vs-cloud-runner.md
  docs/cloud-runner/02-getting-started/aws.md
  docs/cloud-runner/02-getting-started/kubernetes.md
  docs/cloud-runner/03-configuration.md
  docs/cloud-runner/04-command-line.md
  docs/cloud-runner/05-advanced-topics/01-caching.md
  docs/cloud-runner/05-advanced-topics/02-performance.md
  docs/cloud-runner/05-advanced-topics/03-custom-hooks.md
  docs/cloud-runner/05-advanced-topics/04-custom-steps.md
  docs/cloud-runner/05-advanced-topics/05-input-override.md
  docs/cloud-runner/05-advanced-topics/06-garbage-collection.md
  docs/cloud-runner/05-advanced-topics/08-logging.md
  docs/cloud-runner/05-advanced-topics/08-secrets.md
  docs/cloud-runner/05-advanced-topics/09-nested-github-runners.md
  docs/cloud-runner/06-development.md
Due: format documents

Update 01-introduction.md (#282)
  docs/cloud-runner/01-introduction.md
Due: format documents

feat: manual trigger for search crawler
  .github/workflows/search-trigger.yml
  algolia.config.js
Due: format configs, format code, run tests

feat: manual trigger for search crawler (#283)
  .github/workflows/search-trigger.yml
  algolia.config.js
Due: format configs, format code, run tests

feat: crawl PR and production
  .github/workflows/search-main.yml
  .github/workflows/search-pr.yml
  .github/workflows/search-trigger.yml
Due: format configs

quote values
  .github/workflows/search-main.yml
Due: format configs

fix typos
  .github/workflows/search-pr.yml
Due: format configs

show the real error
  .github/workflows/search-main.yml
  .github/workflows/search-pr.yml
Due: format configs

feat: autogenerate sidebar with capitalised titles
  docs/03-github-cloud-runner/02-getting-started/aws.md
  docs/03-github-cloud-runner/02-getting-started/kubernetes.md
  docs/03-github-cloud-runner/03-configuration.md
  docs/03-github-cloud-runner/04-command-line.md
  docs/03-github-cloud-runner/05-advanced-topics/02-performance.md
  docs/03-github-cloud-runner/05-advanced-topics/05-input-override.md
  docs/03-github-cloud-runner/05-advanced-topics/06-garbage-collection.md
  docs/03-github-cloud-runner/05-advanced-topics/08-logging.md
  docs/03-github-cloud-runner/05-advanced-topics/08-secrets.md
  docs/03-github-cloud-runner/06-development.md
  docs/09-troubleshooting/_category_.json
Due: format documents, format configs

chore: use yaml over json
  docs/03-github-cloud-runner/02-getting-started/_category_.json
  docs/03-github-cloud-runner/02-getting-started/_category_.yaml
  docs/03-github-cloud-runner/05-advanced-topics/_category_.json
  docs/03-github-cloud-runner/05-advanced-topics/_category_.yaml
  docs/03-github-cloud-runner/_category_.json
  docs/03-github-cloud-runner/_category_.yaml
  docs/03-github/_category_.json
  docs/03-github/_category_.yaml
  docs/03-github/deployment/_category_.json
  docs/03-github/deployment/_category_.yaml
  docs/05-gitlab/_category_.json
  docs/05-gitlab/_category_.yaml
  docs/05-gitlab/deployment/_category_.json
  docs/05-gitlab/deployment/_category_.yaml
  docs/08-docker/_category_.json
  docs/08-docker/_category_.yaml
  docs/09-troubleshooting/_category_.json
  docs/09-troubleshooting/_category_.yaml
Due: format configs

fix: 404 page not found for /docs/
  docs/index.mdx
  docusaurus.config.js
  versioned_sidebars/version-1-sidebars.js
  versioned_sidebars/version-1-sidebars.json
Due: format documents, format configs, format code, run tests

fix: formatting
  versioned_docs/version-1/05-gitlab/01-getting-started.mdx
Due: format documents

Added basic documentation for github-actions test runner.
  docs/03-github/03-test-runner.mdx
Due: format documents

Updated package name in doc
  docs/03-github/03-test-runner.mdx
Due: format documents

Updated the github docs for test runner
  docs/03-github/03-test-runner.mdx
Due: format documents

updated test runner mdx file to include some more coverage results
  docs/03-github/03-test-runner.mdx
Due: format documents

Updated docs based on notes from review
  docs/03-github/03-test-runner.mdx
Due: format documents

Removed default argument from example
  docs/03-github/03-test-runner.mdx
Due: format documents

Updated test runner to include example assembly filters
  docs/03-github/03-test-runner.mdx
Due: format documents

Added Code Coverage Documentation for GitHub Actions (#258)
  docs/03-github/03-test-runner.mdx
Due: format documents

Remove incorrect information about iOS IL2CPP builds
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Remove incorrect information about iOS IL2CPP builds (#254)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

fix: enforce code styles
  .eslintignore
  .github/workflows/cats.yml
  .github/workflows/code-styles.yml
  .prettierignore
  docs/03-github/06-deployment/ios.mdx
  lefthook.yml
  package.json
  src/components/auth/safe-auth-check.tsx
  src/components/docs/versions/date-time.tsx
  yarn.lock
Due: format documents, format configs, format code, run tests

fix: dont check libraries
  package.json
Due: format configs

fix: add test framework
  .eslintrc.json
  .github/workflows/checks.yml
  jest.config.js
  package.json
  tests/__mocks__/fileMock.js
  tests/test-utils.tsx
  tests/tsconfig.json
  yarn.lock
Due: format configs, format code, run tests

feat: add caching
  .github/workflows/checks.yml
Due: format configs

feat: enforce yarn from past 2 years
  package.json
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  make shell script executable: any of: *.sh
