Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

chore: upgrade node in ci
  .github/workflows/checks.yml
  .github/workflows/search-trigger.yml
Due: format configs

Reconcile v2 and v3 docs with latest unity builder changes. Remove parameters not available in v2 from v2 docs.
  docs/03-github/04-builder.mdx
  versioned_docs/version-2/03-github/04-builder.mdx
Due: format documents

Remove parameters and outputs from v2.2.0-pre
  versioned_docs/version-2/03-github/04-builder.mdx
Due: format documents

Update version tags to align with new version
  docs/03-github/01-getting-started.mdx
  docs/03-github/02-activation.mdx
  docs/03-github/04-builder.mdx
  docs/03-github/06-deployment/android.mdx
  docs/03-github/06-deployment/ios.mdx
  docs/03-github/06-deployment/steam.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

chore: upgrade docusaurus tsconfig
  package.json
  tsconfig.json
  yarn.lock
Due: format configs

chore: import/order
  src/components/auth/safe-auth-check.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/unity-version.tsx
  src/components/docs/versions/versions.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/core/hooks/use-authenticated-endpoint.tsx
  src/pages/docs/docker/versions.tsx
  src/theme/Root.tsx
Due: format code, type check, run tests

fix: unresolved import
  src/components/auth/sign-in-sign-out-button.tsx
Due: format code, type check, run tests

chore: versions as client-side block
  src/pages/docs/docker/versions.tsx
Due: format code, type check, run tests

fix: firebase resolution
  src/components/auth/sign-in-sign-out-button.tsx
  tsconfig.json
Due: format configs, format code, type check, run tests

Update steam.mdx
  docs/03-github/06-deployment/steam.mdx
Due: format documents

yarn lint
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Update steam.mdx (#409)
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Re-enable sections, Prettier readme, use LF line endings
  .prettierrc.json
  CONTRIBUTING.md
  README.md
  src/pages/index.tsx
Due: format documents, format configs, format code, type check, run tests

Upgraded getting-started.tsx - Upgraded getting-started.tsx to use company SVGs instead of text - Moved getting-started.tsx section up - Updated node16 references to node18 in .md files
  CONTRIBUTING.md
  README.md
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/section.module.scss
  src/pages/index.tsx
Due: format documents, format code, type check, run tests

Revamped versions page
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/major-editor-version.tsx
  src/components/docs/versions/unity-version.module.scss
  src/components/docs/versions/unity-version.tsx
  src/components/docs/versions/unity-versions.tsx
  src/components/pages/home/section/section.module.scss
  src/pages/docs/docker/versions.tsx
Due: format code, type check, run tests

INCOMPLETE: Changed out Ant's table
  src/components/docs/versions/builds.tsx
  src/components/docs/versions/builds/build-failure-details.tsx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.module.scss
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/unity-version.tsx
Due: format code, type check, run tests

Starting Section Rework - Reworked Starting/Opening Section - Began Working on pricing calculator - Changed JSX.Element (dep.) -> React.JSX.Element
  src/components/auth/safe-auth-check.tsx
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
  src/css/custom.css
  src/pages/about.tsx
  src/pages/docs/docker/versions.tsx
  src/pages/index.tsx
  src/theme/Root.tsx
  tests/test-utils.tsx
Due: format code, type check, run tests

Created tooltip component - Created tooltip.tsx - Centered VSC buttons in Getting Started
  src/components/molecules/tooltip/tooltip.tsx
  src/components/pages/home/section/getting-started.tsx
Due: format code, type check, run tests

Docker versions progress - Finished expandable menu - Only left to implement a Tooltip and DockerImageLinkOrRetryButton (will leave this one to webber)
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.module.scss
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/date-time.tsx
  src/components/docs/versions/unity-version.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
Due: format code, type check, run tests

Tooltip & Docker Table finished
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/docker-image-link.tsx
  src/components/molecules/tooltip/tooltip.module.scss
  src/components/molecules/tooltip/tooltip.tsx
Due: format code, type check, run tests

pricing section
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
Due: format code, type check, run tests

disabled unused sections
  src/pages/index.tsx
Due: format code, type check, run tests

resolved requests
  .prettierrc.json
  src/components/docs/versions/builds/builds.module.scss
  src/components/docs/versions/date-time.tsx
  src/components/docs/versions/unity-version.tsx
  src/components/molecules/tooltip/tooltip.module.scss
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
Due: format configs, format code, type check, run tests

Bump version in 01-getting-started.mdx
  docs/03-github/01-getting-started.mdx
Due: format documents

Bump bersion in 03-test-runner.mdx
  docs/03-github/03-test-runner.mdx
Due: format documents

chore: bump unity-test-runner version in v3 docs (#414)
  docs/03-github/01-getting-started.mdx
  docs/03-github/03-test-runner.mdx
Due: format documents

Update common-issues.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Add warning to 02-activation.mdx for personal license activation
  docs/03-github/02-activation.mdx
Due: format documents

Convert from warning to caution because ouch my eyes
  docs/03-github/02-activation.mdx
Due: format documents

lint docs/03-github/02-activation.mdx
  docs/03-github/02-activation.mdx
Due: format documents

Fix caution title
  docs/03-github/02-activation.mdx
Due: format documents

add documentation for working with multiple ssh keys
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Move reference inside caution block
  docs/03-github/02-activation.mdx
Due: format documents

rephrase sshPublicKeysDirectoryPath docs
  docs/03-github/04-builder.mdx
Due: format documents

add documentation for working with multiple ssh keys (#416)
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

bump unity-builder action version in sshPublicKeysDirectoryPath example block
  docs/03-github/04-builder.mdx
Due: format documents

Move from caution title to description
  docs/03-github/02-activation.mdx
Due: format documents
