Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format configs:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git add {staged_files}

type check:
  run: yarn typecheck

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files} && git add {staged_files}

Update 03-test-runner.mdx
  docs/03-github/03-test-runner.mdx
Due: format documents

Update instructions to list requirements properly in Viewing test results
  docs/03-github/03-test-runner.mdx
Due: format documents

Update 03-test-runner.mdx (#446)
  docs/03-github/03-test-runner.mdx
Due: format documents

reverse order of requirements for Viewing test results
  docs/03-github/03-test-runner.mdx
Due: format documents

Small fix in viewing test results (#447)
  docs/03-github/03-test-runner.mdx
Due: format documents

Update 04-builder.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Update 04-builder.mdx (#448)
  docs/03-github/04-builder.mdx
Due: format documents

Add skip activation documentation
  docs/03-github/04-builder.mdx
Due: format documents

Switch lefthook package
  package.json
  yarn.lock
Due: format configs

Skip activation docs (#452)
  docs/03-github/04-builder.mdx
  package.json
  yarn.lock
Due: format documents, format configs

feat: scoped registries
  docs/03-github/03-test-runner.mdx
Due: format documents

feat: private scoped registries
  docs/03-github/03-test-runner.mdx
Due: format documents

enableGpu docs
  docs/03-github/04-builder.mdx
Due: format documents

enableGpu docs (#454)
  docs/03-github/04-builder.mdx
Due: format documents

Update docs/03-github/03-test-runner.mdx
  docs/03-github/03-test-runner.mdx
Due: format documents

yarn lint
  docs/03-github/03-test-runner.mdx
Due: format documents

feat: scoped registries (#453)
  docs/03-github/03-test-runner.mdx
Due: format documents

Upgrade Homepage (#412)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
  CONTRIBUTING.md
  README.md
  src/components/auth/safe-auth-check.tsx
  src/components/docs/versions/build-failure-details.tsx
  src/components/docs/versions/builds.module.scss
  src/components/docs/versions/builds.tsx
  src/components/docs/versions/major-editor-version.tsx
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/css/custom.css
  src/pages/about.tsx
  src/pages/docs/docker/versions.tsx
  src/pages/index.tsx
  src/theme/Root.tsx
  static/assets/images/devs/madronagames-logo.png
  static/assets/images/devs/totemastudio-logo.svg
  static/assets/images/icons/circleci.svg
  static/assets/images/icons/github.svg
  static/assets/images/icons/gitlab.svg
  tests/test-utils.tsx
Due: format documents, format configs, format code, type check, run tests

Fix deparated error
  src/components/pages/home/section/opening-section.tsx
Due: format code, type check, run tests

Fix logo issue in light mode and update HTML tag structure
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/sponsors-section.tsx
  static/assets/images/icons/circleci.svg
  static/assets/images/icons/github.svg
  static/assets/images/icons/gitlab.svg
Due: format code, type check, run tests

Update HTML tag in dev section
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
Due: format code, type check, run tests

Fix pricing section color and class name typo
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
Due: format code, type check, run tests

Update css and optimize logo
  src/components/pages/home/section/section.module.scss
  static/assets/images/devs/madronagames-logo.png
Due: none

Improve quality
  static/assets/images/devs/madronagames-logo.png
Due: none

Update code
  src/components/pages/home/section/opening-section.tsx
Due: format code, type check, run tests

Fix issues found when upgrading homepage (#457)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
  CONTRIBUTING.md
  README.md
  src/components/auth/safe-auth-check.tsx
  src/components/docs/versions/build-failure-details.tsx
  src/components/docs/versions/builds.module.scss
  src/components/docs/versions/builds.tsx
  src/components/docs/versions/major-editor-version.tsx
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/css/custom.css
  src/pages/about.tsx
  src/pages/docs/docker/versions.tsx
  src/pages/index.tsx
  src/theme/Root.tsx
  static/assets/images/devs/madronagames-logo.png
  static/assets/images/devs/totemastudio-logo.svg
  static/assets/images/icons/circleci.svg
  static/assets/images/icons/github.svg
  static/assets/images/icons/gitlab.svg
  tests/test-utils.tsx
Due: format documents, format configs, format code, type check, run tests

Upgrade Tailwind and refactor opening section
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/section.tsx
  tailwind.config.js
  yarn.lock
Due: format code, type check, run tests

Update remaining visible sections
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.tsx
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  tailwind.config.js
Due: format code, type check, run tests

Use docusaurus logo and apply minor fix
  docusaurus.config.js
Due: format code, run tests

Add helper function for adding utm params and update css
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/core/url.ts
Due: format code, type check, run tests

Cleanup
  src/components/pages/home/section/section.module.scss
  src/css/custom.css
  src/pages/index.tsx
Due: format code, type check, run tests

Add description and nav icon dimension
  docusaurus.config.js
  src/pages/index.tsx
Due: format code, type check, run tests

Convert image to webp
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  static/assets/images/devs/madronagames-logo.png
  static/assets/images/devs/madronagames-logo.webp
Due: format code, type check, run tests

Fix error
  tsconfig.json
Due: format configs

Enhance homepage (#459)
  docusaurus.config.js
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/section.tsx
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/core/url.ts
  src/css/custom.css
  src/pages/index.tsx
  static/assets/images/devs/madronagames-logo.png
  static/assets/images/devs/madronagames-logo.webp
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: format configs, format code, type check, run tests

Set default theme by user preference
  docusaurus.config.js
Due: format code, run tests

Update profile section
  src/components/pages/about-us/section/the-team-section/data/continent.ts
  src/components/pages/about-us/section/the-team-section/data/pictures/david.webp
  src/components/pages/about-us/section/the-team-section/data/pictures/fisher.webp
  src/components/pages/about-us/section/the-team-section/data/pictures/gableroux.webp
  src/components/pages/about-us/section/the-team-section/data/pictures/webber.webp
  src/components/pages/about-us/section/the-team-section/data/team-info.ts
  src/components/pages/about-us/section/the-team-section/pictures/david.jpg
  src/components/pages/about-us/section/the-team-section/pictures/fisher.png
  src/components/pages/about-us/section/the-team-section/pictures/gableroux.png
  src/components/pages/about-us/section/the-team-section/pictures/webber.png
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/filetypes.d.ts
Due: format code, type check, run tests

Fix mobile timeline and minor updates
  src/components/pages/about-us/section/our-story-section/our-story.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
Due: format code, type check, run tests

Update header section and serve background images locally
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/header-section/pictures/background-desktop.webp
  src/components/pages/about-us/section/header-section/pictures/background-mobile.webp
  src/components/pages/about-us/section/header-section/pictures/background-tablet.webp
Due: format code, type check, run tests

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/|build/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/|build/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  type check: any of: *.{ts,tsx}, but not: .docusaurus/|build/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  make shell script executable: any of: *.sh, but not: .docusaurus/|build/
