Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

Update 02-aws.mdx
  docs/03-github-cloud-runner/03-getting-started/02-aws.mdx
Due: format documents

Link fix (#380)
  docs/03-github-cloud-runner/03-getting-started/02-aws.mdx
Due: format documents

Update steam docs to mention TOTP (#375)
  docs/03-github/06-deployment/steam.mdx
Due: format documents

fix invite
  firebase.json
Due: format configs

fix invite (#381)
  firebase.json
Due: format configs

cleanup
  docs/03-github-cloud-runner/02-getting-started.mdx
  docs/03-github-cloud-runner/03-examples/01-command-line.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/02-aws.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/_category_.yaml
  docs/03-github-cloud-runner/03-examples/_category_.yaml
  docs/03-github-cloud-runner/04-api-reference.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-hooks-and-custom-jobs/01-custom-job.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-hooks-and-custom-jobs/03-command-hooks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-hooks-and-custom-jobs/04-container-hooks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-hooks-and-custom-jobs/05-premade-container-jobs.mdx
  docs/03-github-cloud-runner/06-advanced-topics/09-gitlab/01-introduction-gitlab.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/01-github-checks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/01-release-branches.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/09-nested-github-runners.mdx
Due: format documents, format configs

cleanup
  docs/03-github-cloud-runner/03-examples/01-command-line.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/01-custom-job.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/03-command-hooks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/04-container-hooks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/05-premade-container-jobs.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/_category_.yaml
  docs/03-github-cloud-runner/06-advanced-topics/09-gitlab/_category_.yaml
  docs/03-github-cloud-runner/06-advanced-topics/10-github/_category_.yaml
Due: format documents, format configs

Update 04-api-reference.mdx
  docs/03-github-cloud-runner/04-api-reference.mdx
Due: format documents

fix
  docs/03-github-cloud-runner/03-examples/02-github-examples/02-aws.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
Due: format documents

cleanup
  docs/03-github-cloud-runner/03-examples/02-github-examples/02-aws.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
  docs/03-github-cloud-runner/04-api-reference.mdx
Due: format documents

fixes
  docs/03-github-cloud-runner/03-examples/02-github-examples/02-aws.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
  docs/03-github-cloud-runner/04-api-reference.mdx
Due: format documents

Update 01-github-checks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/01-github-checks.mdx
Due: format documents

Cloud runner 1.0 (#382)
  docs/03-github-cloud-runner/02-getting-started.mdx
  docs/03-github-cloud-runner/03-examples/01-command-line.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/02-aws.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/03-kubernetes.mdx
  docs/03-github-cloud-runner/03-examples/02-github-examples/_category_.yaml
  docs/03-github-cloud-runner/03-examples/_category_.yaml
  docs/03-github-cloud-runner/03-getting-started/03-kubernetes.mdx
  docs/03-github-cloud-runner/04-api-reference.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/01-custom-job.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/03-command-hooks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/04-container-hooks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/05-premade-container-jobs.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-custom-hooks/_category_.yaml
  docs/03-github-cloud-runner/06-advanced-topics/09-gitlab/01-introduction-gitlab.mdx
  docs/03-github-cloud-runner/06-advanced-topics/09-gitlab/_category_.yaml
  docs/03-github-cloud-runner/06-advanced-topics/10-github/01-github-checks.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/01-release-branches.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/09-nested-github-runners.mdx
  docs/03-github-cloud-runner/06-advanced-topics/10-github/_category_.yaml
Due: format documents, format configs

Fix github RSA key error
  docs/03-github/04-builder.mdx
Due: format documents

Update 04-builder.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Updated FAQ's Documentations
  docs/10-faq/index.mdx
Due: format documents

Added links in the new questions in FAQ's
  docs/10-faq/index.mdx
Due: format documents

Update docs/10-faq/index.mdx
  docs/10-faq/index.mdx
Due: format documents

Move questions closer to unity release question and run yarn lint
  docs/10-faq/index.mdx
Due: format documents

Document image build process in FAQ closes #387 (#388)
  docs/10-faq/index.mdx
Due: format documents

Update custom parameter example for server builds
  docs/03-github/04-builder.mdx
Due: format documents

Update custom parameter example for server builds (#389)
  docs/03-github/04-builder.mdx
Due: format documents

Update build script for standaloneBuildSubtarget
  example/BuildScript.cs
Due: none

Update build script for standaloneBuildSubtarget (#390)
  example/BuildScript.cs
Due: none

npm run lint
  docs/03-github/04-builder.mdx
Due: format documents

Fix github RSA key error (#385)
  docs/03-github/04-builder.mdx
Due: format documents

Add `Standalone` option.
  docs/03-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
Due: format documents

Update BuildScript.cs
  example/BuildScript.cs
Due: none

Update BuildScript.cs (#392)
  example/BuildScript.cs
Due: none

Update README.md
  README.md
Due: format documents

Add files via upload
  static/assets/images/logo-cropped.png
Due: none

remove extra line break
  README.md
Due: format documents
