Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format configs:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git add {staged_files}

type check:
  run: yarn typecheck

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files} && git add {staged_files}

docs: group CI platform docs under one sidebar section
  sidebars.js
Due: format code, run tests

docs: preserve existing sidebar structure while grouping CI platforms
  sidebars.js
Due: format code, run tests

docs: match requested docs sidebar order
  sidebars.js
Due: format code, run tests

docs: move CLI above CI platforms
  sidebars.js
Due: format code, run tests

Document orchestrator test filter injection
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
Due: format documents

Format test filter injection docs
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
Due: format documents

Format preflight tests docs
  docs/03-github-orchestrator/07-advanced-topics/13-preflight-tests.mdx
Due: format documents

docs: group CI platform docs under a shared sidebar section (#573)
  sidebars.js
Due: format code, run tests

fix: add image-level admin retry actions
  src/components/docs/versions/image-job-admin-actions.tsx
  src/components/docs/versions/unity-version.tsx
Due: format code, type check, run tests

feat: improve admin queue diagnostics ui
  src/components/docs/versions/build-status-dashboard.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

feat: improve admin queue diagnostics and recovery ui (#571)
  src/components/docs/versions/build-status-dashboard.tsx
  src/components/docs/versions/image-job-admin-actions.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/queue-management-panel.tsx
  src/components/docs/versions/unity-version.tsx
Due: format code, type check, run tests

Document orchestrator test filter injection (#574)
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
Due: format documents

docs: add preflight tests concept and built-in check reference (#572)
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-preflight-tests.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
Due: format documents

Improve personal license activation documentation
  docs/03-github/02-activation.mdx
  docs/05-gitlab/02-activation.mdx
  docs/11-circleci/02-activation.mdx
Due: format documents

Fix typos in test runner documentation
  docs/03-github/03-test-runner.mdx
Due: format documents

Update caching docs for canonical-overlay removal
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
Due: format documents

Reflect move-directory as the new default cache mode
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
Due: format documents

Add concrete Unreal image/runner guidance; fix stale FAQ recommendation
  docs/03-github-cli/02-build.mdx
  docs/10-faq/index.mdx
Due: format documents

Fix broken link and formatting flagged by CI
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
Due: format documents

Fix formatting flagged by CI (oxfmt)
  docs/03-github-cli/02-build.mdx
Due: format documents

Add Quick Start section above the fold on getting-started
  docs/03-github/01-getting-started.mdx
Due: format documents

Remove all remaining canonical-overlay documentation, not just the note
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
Due: format documents

Improve getting-started: prerequisites, troubleshooting links, platform picker
  docs/03-github/01-getting-started.mdx
Due: format documents

Fix typos in test runner documentation (#577)
  docs/03-github/03-test-runner.mdx
Due: format documents

Fix two factual errors found in review
  docs/03-github-cli/02-build.mdx
  docs/10-faq/index.mdx
Due: format documents

Add Godot image/runner parity note alongside Unreal's
  docs/03-github-cli/02-build.mdx
Due: format documents

docs: document cli's new build options, --recipe, and test-runner's coverageEnabled
  docs/03-github-cli/02-build.mdx
  docs/03-github/03-test-runner.mdx
  docs/08-docker/05-custom-images.mdx
Due: format documents

style: run oxfmt on the docs changed in this PR
  docs/03-github-cli/02-build.mdx
  docs/08-docker/05-custom-images.mdx
Due: format documents

fix: correct Unity CLI release date, stop guessing test flags, clarify push
  docs/03-github-cli/02-build.mdx
  docs/08-docker/05-custom-images.mdx
Due: format documents

docs: --unity-version is required-unless-recipe, document recipe's version field
  docs/08-docker/05-custom-images.mdx
Due: format documents

Unreal + Godot: image/runner guidance parity; fix stale FAQ recommendation (#579)
  docs/03-github-cli/02-build.mdx
  docs/10-faq/index.mdx
Due: format documents

Improve personal license activation documentation (#576)
  docs/03-github/02-activation.mdx
  docs/05-gitlab/02-activation.mdx
  docs/11-circleci/02-activation.mdx
Due: format documents

Getting started: Quick start, prerequisites, troubleshooting links, platform picker (#580)
  docs/03-github/01-getting-started.mdx
Due: format documents

docs: document cli's new build options, --recipe, and test-runner's coverageEnabled (#582)
  docs/03-github-cli/02-build.mdx
  docs/03-github/03-test-runner.mdx
  docs/08-docker/05-custom-images.mdx
Due: format documents

Update caching docs for canonical-overlay removal (#578)
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
Due: format documents

docs: fix fabricated inputs in large-projects.mdx, add lock lessons
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-large-projects.mdx
Due: format documents

docs: clarify targetPlatform/runs-on OS mapping, Mono vs IL2CPP, unityVersion syntax
  docs/03-github/04-builder.mdx
Due: format documents

docs: update orchestrate docs for built-in plugin, local provider, and Windows host mode
  docs/03-github-cli/02-build.mdx
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-cli/05-github-action.mdx
  docs/03-github-cli/index.mdx
Due: format documents

docs: extend orchestrate/host-execution docs for PRs #109-#115, state core-vs-orchestrate boundary explicitly
  docs/03-github-cli/02-build.mdx
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-orchestrate-advanced/00-overview.mdx
  docs/03-github-cli/04-orchestrate-advanced/01-local-caching.mdx
  docs/03-github-cli/04-orchestrate-advanced/02-middleware.mdx
  docs/03-github-cli/04-orchestrate-advanced/03-build-retry.mdx
  docs/03-github-cli/04-orchestrate-advanced/04-launch-wrapper.mdx
  docs/03-github-cli/04-orchestrate-advanced/_category_.yaml
  docs/03-github-cli/05-configuration-and-plugins.mdx
  docs/03-github-cli/06-github-action.mdx
  docs/03-github-cli/index.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/02-game-ci-vs-orchestrator.mdx
Due: format documents, format configs

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/|build/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/|build/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  type check: any of: *.{ts,tsx}, but not: .docusaurus/|build/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  make shell script executable: any of: *.sh, but not: .docusaurus/|build/
