Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

docs: document cli github action usage
  docs/04-cli/05-github-action.mdx
  docs/04-cli/index.mdx
Due: format documents

ci(documentation): switch coverage provider istanbul -> v8
  package.json
  vitest.config.mts
  yarn.lock
Due: format configs

docs: refine cli and orchestrator advanced docs
  docs/03-github-orchestrator/01-introduction-to-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/01-command-line.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/02-github-actions.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/03-aws.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/04-kubernetes.mdx
  docs/03-github-orchestrator/04-jobs.mdx
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/02-retained-workspace.mdx
  docs/03-github-orchestrator/07-advanced-topics/03-custom-job.mdx
  docs/03-github-orchestrator/07-advanced-topics/04-garbage-collection.mdx
  docs/03-github-orchestrator/07-advanced-topics/06-logging.mdx
  docs/03-github-orchestrator/07-advanced-topics/08-storage.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/07-advanced-topics/18-engine-plugins.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/04-cli/02-build.mdx
  docs/04-cli/03-remote-builds.mdx
  docs/04-cli/04-configuration-and-plugins.mdx
  docs/04-cli/05-github-action.mdx
  docs/04-cli/index.mdx
  docs/10-faq/index.mdx
Due: format documents

docs: broaden cli command coverage
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/01-command-line.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/04-cli/02-build.mdx
  docs/04-cli/03-remote-builds.mdx
  docs/04-cli/04-configuration-and-plugins.mdx
  docs/04-cli/05-github-action.mdx
  docs/04-cli/_category_.yaml
  docs/04-cli/index.mdx
Due: format documents, format configs

docs: place cli before orchestrator
  docs/03-github-cli/02-build.mdx
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-cli/05-github-action.mdx
  docs/03-github-cli/_category_.yaml
  docs/03-github-cli/index.mdx
Due: format documents, format configs

docs: prefer remote run command
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-cli/05-github-action.mdx
  docs/03-github-cli/index.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/01-command-line.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents

docs: clarify cli command surfaces
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-cli/index.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/02-github-actions.mdx
  docs/03-github-orchestrator/05-providers/01-overview.mdx
  docs/03-github-orchestrator/05-providers/_category_.yaml
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents, format configs

docs: Unity CI reliability guide — self-hosted runners, failure diagnostics, caching
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/20-self-hosted-reliability.mdx
  docs/03-github-orchestrator/07-advanced-topics/21-failure-diagnostics.mdx
  docs/09-troubleshooting/common-issues.mdx
  docs/12-self-hosting/06-windows-runner-setup.mdx
Due: format documents

docs: prefer orchestrate command
  docs/03-github-cli/02-build.mdx
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-cli/05-github-action.mdx
  docs/03-github-cli/index.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/01-command-line.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
Due: format documents

docs: document config-defined providers
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-cli/05-github-action.mdx
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/05-providers/01-overview.mdx
  docs/03-github-orchestrator/05-providers/06-custom-providers.mdx
  docs/03-github-orchestrator/05-providers/12-cli-provider-protocol.mdx
  docs/03-github-orchestrator/05-providers/13-config-defined-providers.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
Due: format documents

docs: broaden diagnostics and self-hosted machine guides
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/07-advanced-topics/20-self-hosted-machines.mdx
  docs/03-github-orchestrator/07-advanced-topics/21-failures-and-diagnostics.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

docs: rename self-hosted orchestrator guide
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/20-self-hosting-and-orchestrator.mdx
  docs/03-github-orchestrator/07-advanced-topics/21-failures-and-diagnostics.mdx
Due: format documents

docs: format cli command surface pages
  docs/03-github-cli/03-remote-builds.mdx
  docs/03-github-cli/04-configuration-and-plugins.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
Due: format documents

docs: orchestrator backlog features and streaming runner rename
  docs/03-github-orchestrator/05-providers/03-kubernetes.mdx
  docs/03-github-orchestrator/05-providers/04-local-docker.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/08-cli/05-init-command.mdx
Due: format documents

docs: add minCacheEntries and cacheRetentionDays wiring docs
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
Due: format documents

style: fix prettier formatting in docs
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/08-cli/05-init-command.mdx
Due: format documents

style: fix oxfmt formatting
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
Due: format documents

style: fix oxfmt formatting
  docs/03-github-cli/03-remote-builds.mdx
Due: format documents

docs: add Repair Over Delete section to build reliability guide
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
Due: format documents

docs: add custom images page for build-unity-image CLI command
  docs/08-docker/05-custom-images.mdx
Due: format documents

docs: surface build-unity-image custom image flow
  docs/08-docker/01-docker-images.mdx
  docs/08-docker/03-customize-docker-images.mdx
Due: format documents

fix: remove conflict markers from CLI remote builds docs
  docs/03-github-cli/03-remote-builds.mdx
Due: format documents

docs: document Windows support for build-unity-image
  docs/08-docker/05-custom-images.mdx
Due: format documents

docs(orchestrator): canonical cache overlay strategy and self-hosted lessons
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
Due: format documents

style(docs): apply oxfmt to canonical cache documentation
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
Due: format documents

docs: Unity diagnostic log collection page (issue unity-builder#740)
  docs/03-github-orchestrator/07-advanced-topics/21-failures-and-diagnostics.mdx
  docs/03-github-orchestrator/07-advanced-topics/22-unity-log-collection.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

docs: clarify local-build flow and caching options for build-unity-image
  docs/08-docker/05-custom-images.mdx
Due: format documents

docs(unity-logs): add local-provider ad-hoc pull recipe
  docs/03-github-orchestrator/07-advanced-topics/22-unity-log-collection.mdx
Due: format documents

docs(unity-logs): document convenient CLI + Logs facade API
  docs/03-github-orchestrator/07-advanced-topics/22-unity-log-collection.mdx
Due: format documents

docs(unity-logs): apply oxfmt formatting
  docs/03-github-orchestrator/07-advanced-topics/22-unity-log-collection.mdx
Due: format documents

style: format PowerShell DeveloperData docs
  docs/05-gitlab/02-activation.mdx
Due: format documents

Update deb instructions regarding #527 (#528)
  docs/12-self-hosting/04-host-provisioning/01-debian-setup.mdx
  docs/12-self-hosting/04-host-provisioning/02-ubuntu-setup.mdx
Due: format documents

Fix queue diagnostics refresh by repo version
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

Add diagnostics prompt copy action
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

Annotate diagnostics prompt scope and truncation
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

fix: restore UTF-8 encoding in queue diagnostics panel
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

Improve Admin Queue Diagnostics For Repo Versions (#570)
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

docs: add preflight tests concept and built-in check reference
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-preflight-tests.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
Due: format documents
