Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: 'yarn prettier --write {staged_files} &&
  
    yarn eslint {staged_files} &&
  
    git add {staged_files}
  
    '

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files}

docs: include new `build` parameter
  docs/11-circleci/03-build.mdx
Due: format documents

docs: include new `build` parameter (#326)
  docs/11-circleci/03-build.mdx
Due: format documents

Set example orb minor version to 1.1
  docs/11-circleci/01-getting-started.mdx
Due: format documents

Set example orb minor version to 1.1 (#327)
  docs/11-circleci/01-getting-started.mdx
Due: format documents

Update FUNDING.yml
  .github/FUNDING.yml
Due: format configs

update type check command on pre-commit
  lefthook.yml
Due: format configs

move skipLibCheck to tsconfig.json
  package.json
  tsconfig.json
Due: format configs

install tsc-files
  package.json
  yarn.lock
Due: format configs

use tsc-files for type check on pre-commit step
  lefthook.yml
Due: format configs

chore: #324 Fix type check of staged files (#329)
  lefthook.yml
  package.json
  tsconfig.json
  yarn.lock
Due: format configs

Clarify git-tag versioning
  docs/03-github/04-builder.mdx
Due: format documents

Update FUNDING.yml (#328)
  .github/FUNDING.yml
Due: format configs

docs: include the `return-license` and `no_output_timeout` params in `test`
  docs/11-circleci/04-test.mdx
Due: format documents

docs: include several parameters in the docs
  docs/11-circleci/03-build.mdx
Due: format documents

docs: add new Unity Orb parameters (#332)
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-test.mdx
Due: format documents

Update 02-windows-docker-images.mdx
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Fix example windows exec script
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Fix typo in 2-windows-docker-images.mdx
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Clarify explanation for Visual Studio build tools
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Include example of build output when missing vs build tools
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Add missing period in 02-windows-docker-images.mdx
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Use consistent spelling of license
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Cleanup development page - keep it simpler
  docs/03-github-cloud-runner/06-development.mdx
Due: format documents

Update 01-caching.md
  docs/03-github-cloud-runner/05-advanced-topics/01-caching.md
Due: format documents

Put ilc2pp build error details in collapsible section
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Format 02-windows-docker-images.mdx
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Add additional linebreak under </summary>
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Add one more linebreak inside of section
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Add note about checking the existence of visual studio install dirs
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

Update 02-game-ci-vs-cloud-runner.mdx
  docs/03-github-cloud-runner/02-game-ci-vs-cloud-runner.mdx
Due: format documents

format
  docs/03-github-cloud-runner/05-advanced-topics/01-caching.md
  docs/03-github-cloud-runner/06-development.mdx
Due: format documents

Update 02-game-ci-vs-cloud-runner.mdx (#334)
  docs/03-github-cloud-runner/02-game-ci-vs-cloud-runner.mdx
  docs/03-github-cloud-runner/05-advanced-topics/01-caching.md
  docs/03-github-cloud-runner/06-development.mdx
Due: format documents

Update windows container documentation (#333)
  docs/08-docker/02-windows-docker-images.mdx
Due: format documents

feat: always show retry on failure
  lefthook.yml
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/filetypes.d.ts
Due: format configs, format code, run tests

feat: always show retry on failure (#335)
  lefthook.yml
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/filetypes.d.ts
Due: format configs, format code, run tests

feat: add merch link
  docusaurus.config.js
Due: format code, run tests

feat: add merch link (#337)
  docusaurus.config.js
Due: format code, run tests

lint
  docs/03-github/04-builder.mdx
Due: format documents

Clarify git-tag versioning (#331)
  docs/03-github/04-builder.mdx
Due: format documents

chore: add circle-ci sponsor
  package.json
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/pages/index.tsx
  yarn.lock
Due: format configs, format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  make shell script executable: any of: *.sh
