Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

Fix typo
  docusaurus.config.js
Due: format code, run tests

Update HTML tags and class names, improve a11y
  src/components/pages/about-us/section/our-story-section/our-story.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/css/custom.css
  src/pages/about.tsx
  tailwind.config.js
Due: format code, type check, run tests

Finetune timeline css and tag
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
Due: format code, type check, run tests

Remove text-softer class
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/css/custom.css
Due: format code, type check, run tests

Update social icons and avatars
  src/components/pages/about-us/section/the-team-section/profile.tsx
Due: format code, type check, run tests

Remove opacity for better contrast
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
Due: format code, type check, run tests

Enhance about us (#461)
  docusaurus.config.js
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/header-section/pictures/background-desktop.webp
  src/components/pages/about-us/section/header-section/pictures/background-mobile.webp
  src/components/pages/about-us/section/header-section/pictures/background-tablet.webp
  src/components/pages/about-us/section/our-story-section/our-story.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
  src/components/pages/about-us/section/the-team-section/data/continent.ts
  src/components/pages/about-us/section/the-team-section/data/pictures/david.webp
  src/components/pages/about-us/section/the-team-section/data/pictures/fisher.webp
  src/components/pages/about-us/section/the-team-section/data/pictures/gableroux.webp
  src/components/pages/about-us/section/the-team-section/data/pictures/webber.webp
  src/components/pages/about-us/section/the-team-section/data/team-info.ts
  src/components/pages/about-us/section/the-team-section/pictures/david.jpg
  src/components/pages/about-us/section/the-team-section/pictures/fisher.png
  src/components/pages/about-us/section/the-team-section/pictures/gableroux.png
  src/components/pages/about-us/section/the-team-section/pictures/webber.png
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/css/custom.css
  src/filetypes.d.ts
  src/pages/about.tsx
  tailwind.config.js
Due: format code, type check, run tests

Update test runner example for proper personal license setup
  docs/03-github/03-test-runner.mdx
Due: format documents

Update test runner example for proper personal license setup (#462)
  docs/03-github/03-test-runner.mdx
Due: format documents

Fix iOS build App Store (permission issue)
  docs/03-github/06-deployment/ios.mdx
  versioned_docs/version-2/03-github/06-deployment/ios.mdx
  versioned_docs/version-3/03-github/06-deployment/ios.mdx
Due: format documents

Update troubleshooting guide with GPU Lightmapper solution
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Add line to solution inviting to re-run pipeline
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

docs/gpu lightmapper opencl fix (#465)
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Update steam.mdx
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Fix iOS build App Store (permission issue) (#464)
  docs/03-github/06-deployment/ios.mdx
  versioned_docs/version-2/03-github/06-deployment/ios.mdx
  versioned_docs/version-3/03-github/06-deployment/ios.mdx
Due: format documents

Update steam.mdx (#466)
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Update steam deploy documentation to include InstallScript option
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Update steam deploy documentation to include InstallScript option (#467)
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Remove arrow and finetune styles
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
Due: format code, type check, run tests

Remove arrow and finetune styles (#468)
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
Due: format code, type check, run tests

feat: add docs for private registry
  docs/03-github/03-test-runner.mdx
Due: format documents

feat: add docs for private registry (#470)
  docs/03-github/03-test-runner.mdx
Due: format documents

Change buildscript to only write version if it should be set
  example/BuildScript.cs
Due: none

Change buildscript to only write version if it should be set (#471)
  example/BuildScript.cs
Due: none

update docs around licensing configs
  docs/03-github/02-activation.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Update the build documentation with a note about how to set preprocessor macros
  docs/03-github/04-builder.mdx
Due: format documents

Fix typo in a url
  versioned_docs/version-2/02-getting-started/index.mdx
Due: format documents

Update README.md
  README.md
Due: format documents

Fix typo in a url (#476)
  versioned_docs/version-2/02-getting-started/index.mdx
Due: format documents

feat: update contributions section, including open collective
  src/components/pages/home/section/sponsors-section.tsx
Due: format code, type check, run tests

chore: matching bg
  src/components/pages/home/section/sponsors-section.tsx
Due: format code, type check, run tests

feat: update contributions section, including open collective (#478)
  src/components/pages/home/section/sponsors-section.tsx
Due: format code, type check, run tests

Update the build documentation with a note about how to set preprocessor macros (#474)
  docs/03-github/04-builder.mdx
Due: format documents

Update 01-getting-started.mdx
  docs/03-github/01-getting-started.mdx
Due: format documents

Update 01-getting-started.mdx (#480)
  docs/03-github/01-getting-started.mdx
Due: format documents

Fix indentation closes #481
  docs/03-github/04-builder.mdx
Due: format documents

Fix indentation closes #481 (#483)
  docs/03-github/04-builder.mdx
Due: format documents

Comment PricingSection component until it's relevant to have it on home page
  src/pages/index.tsx
Due: format code, type check, run tests

Also comment the import
  src/pages/index.tsx
Due: format code, type check, run tests

Remove PricingSection from home page (#484)
  src/pages/index.tsx
Due: format code, type check, run tests
