Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: security
      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/'
      run: |
        yarn prettier --write {staged_files} &&
        yarn eslint {staged_files} &&
        git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x {staged_files}

chore: update action-cats (#320)
  .github/workflows/cats.yml
Due: format configs

feat: display an additional level in toc of test runner and builder docs (#319)
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/04-builder.mdx
Due: format documents

Update BuildScript.cs
  example/BuildScript.cs
Due: none

Update aws.mdx
  docs/03-github-cloud-runner/02-getting-started/aws.mdx
Due: format documents

Update kubernetes.mdx
  docs/03-github-cloud-runner/02-getting-started/kubernetes.mdx
Due: format documents

docs: add the `Activation` section
  docs/11-circleci/02-activation.mdx
Due: format documents

docs: add CircleCI's `Getting started` section
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/_category_.yaml
Due: format documents, format configs

docs: small improvements to `Getting Started` section
  docs/11-circleci/01-getting-started.mdx
Due: format documents

docs: finish the macOS executor sub sub-section
  docs/11-circleci/03-build.mdx
Due: format documents

docs: several improvements to `Getting Started` and `Activation`
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
Due: format documents

feat: add the orb to the `Source code` dropdown
  docusaurus.config.js
Due: format code, run tests

docs: improve descriptions
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-executors.mdx
Due: format documents

docs: improve the `Activation` section
  docs/11-circleci/02-activation.mdx
Due: format documents

feat: increase toc max heading level for all pages
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-executors.mdx
Due: format documents

docs: add reference to the `Test` section in `Activation`
  docs/11-circleci/02-activation.mdx
Due: format documents

Update docs/11-circleci/05-executors.mdx
  docs/11-circleci/05-executors.mdx
Due: format documents

docs: apply suggestions from @kbatuigas and @webbertakken
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-test.mdx
  docs/11-circleci/05-executors.mdx
Due: format documents

feat: add CircleCI to footer
  docusaurus.config.js
Due: format code, run tests

docs: finish the `Executors` section and make improvements
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-executors.mdx
Due: format documents

docs: fix grammar and typos
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
Due: format documents

docs: made changes suggested by @webbertaken
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
  docusaurus.config.js
Due: format documents, format code, run tests

docs: add `Test` section
  docs/11-circleci/04-test.mdx
  docs/11-circleci/05-executors.mdx
Due: format documents

docs: replace CCI links with GameCI's
  docs/11-circleci/03-build.mdx
Due: format documents

docs: made the rest of changes suggested by @webbertaken
  docs/11-circleci/02-activation.mdx
Due: format documents

docs: finish the `Parameters` sub-section
  docs/11-circleci/03-build.mdx
Due: format documents

docs: move the `Executors` sub-section to its own section
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-executors.mdx
Due: format documents

docs: minor improvements to flow and clarity
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
Due: format documents

docs: change sentences according to @webbertakken's suggestions
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
Due: format documents

Update docs/11-circleci/03-build.mdx
  docs/11-circleci/03-build.mdx
Due: format documents

docs: remove text leftover
  docs/11-circleci/03-build.mdx
Due: format documents

docs: add the `Build` section
  docs/11-circleci/03-build.mdx
Due: format documents

docs: several improvements to multiple sections
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
  docs/11-circleci/03-build.mdx
Due: format documents

feat: add CircleCI in the home page
  src/components/pages/home/section/getting-started.tsx
Due: format code, run tests

fix: formatting using prettier
  docs/11-circleci/02-activation.mdx
  docs/11-circleci/04-test.mdx
Due: format documents

docs: update `build-name` default value
  docs/11-circleci/03-build.mdx
Due: format documents

docs: include a section with CircleCI instructions (#318)
  docs/11-circleci/01-getting-started.mdx
  docs/11-circleci/02-activation.mdx
  docs/11-circleci/03-build.mdx
  docs/11-circleci/04-test.mdx
  docs/11-circleci/05-executors.mdx
  docs/11-circleci/_category_.yaml
  docusaurus.config.js
  src/components/pages/home/section/getting-started.tsx
Due: format documents, format configs, format code, run tests

docs: fix inconsistency in the `Test` section
  docs/11-circleci/04-test.mdx
Due: format documents

docs: fix inconsistency in the `Test` section (#325)
  docs/11-circleci/04-test.mdx
Due: format documents
