Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

fix: upgrade @docusaurus/tsconfig from 3.0.0-alpha.0 to 3.6.3
  package.json
  yarn.lock
Due: format configs

fix: upgrade sass from 1.65.1 to 1.81.0
  package.json
  yarn.lock
Due: format configs

fix: upgrade react-spinners from 0.11.0 to 0.14.1
  package.json
  yarn.lock
Due: format configs

fix: upgrade postcss from 8.4.28 to 8.4.49
  package.json
  yarn.lock
Due: format configs

fix: upgrade tailwindcss from 3.4.1 to 3.4.15
  package.json
  yarn.lock
Due: format configs

Update Unity activation instructions for clarity closes #469
  docs/03-github/02-activation.mdx
  static/assets/images/unity-hub-preferences-licenses-add-button.png
Due: format documents

Fix a title nesting
  docs/03-github/02-activation.mdx
Due: format documents

Remove return license step
  docs/03-github/02-activation.mdx
Due: format documents

Apply consistent format (nitpick) to env vars list
  docs/03-github/02-activation.mdx
Due: format documents

Update Unity activation instructions for clarity (#491)
  docs/03-github/02-activation.mdx
  static/assets/images/unity-hub-preferences-licenses-add-button.png
Due: format documents

Improve Gitlab related documentation and update for recent releases
  docs/05-gitlab/01-getting-started.mdx
  docs/05-gitlab/02-activation.mdx
  docs/05-gitlab/03-example-project.mdx
Due: format documents

Improve verification steps and wording in getting started
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

Fix file path in verification
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

Remove comment about customizing unity version
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

Simplify overall steps
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

Replace e.g. with 'format:'
  docs/05-gitlab/02-activation.mdx
Due: format documents

Use commitizen style for commit
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

Update docs/05-gitlab/02-activation.mdx
  docs/05-gitlab/02-activation.mdx
Due: format documents

Apply some review recommendations from coderabbitai
  docs/05-gitlab/02-activation.mdx
Due: format documents

docs: Split the setup into smaller code blocks
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

docs: Fix typos in deployment scripts
  docs/05-gitlab/06-deployment/android.mdx
  docs/05-gitlab/06-deployment/ios.mdx
Due: format documents

docs: Apply coderabbitai recommendations to Getting Started
  docs/05-gitlab/01-getting-started.mdx
Due: format documents

docs: Apply some recommendations to docs
  docs/05-gitlab/01-getting-started.mdx
  docs/05-gitlab/02-activation.mdx
Due: format documents

Improve GameCI Gitlab Docs (#492)
  docs/05-gitlab/01-getting-started.mdx
  docs/05-gitlab/02-activation.mdx
  docs/05-gitlab/03-example-project.mdx
  docs/05-gitlab/06-deployment/android.mdx
  docs/05-gitlab/06-deployment/ios.mdx
Due: format documents

Fix SVG compatibility issues in Safari
  static/assets/images/icons/circleci.svg
  static/assets/images/icons/github.svg
  static/assets/images/icons/gitlab.svg
Due: none

fix: Update LinkButton styling to use grid layout
  src/components/pages/home/section/getting-started.tsx
Due: format code, type check, run tests

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: format configs

Document new `buildProfile` config option
  docs/03-github/04-builder.mdx
Due: format documents

Update BuildScript.cs with BuildProfile example
  example/BuildScript.cs
Due: none

fix powershell cmd in 02-activation.mdx
  docs/05-gitlab/02-activation.mdx
Due: format documents

Upgrade artifacts to v4 on builder.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Update example/BuildScript.cs
  example/BuildScript.cs
Due: none

Document new `buildProfile` config option (#498)
  docs/03-github/04-builder.mdx
  example/BuildScript.cs
Due: format documents

Upgrade artifacts to v4 on builder.mdx (#505)
  docs/03-github/04-builder.mdx
Due: format documents
