Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: 'yarn prettier --write {staged_files} &&
  
    yarn eslint {staged_files} &&
  
    git add {staged_files}
  
    '

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files}

Improve common problems page for activation
  docs/05-gitlab/02-activation.mdx
  docs/09-troubleshooting/common-issues.mdx
  docs/10-faq/index.mdx
Due: format documents

Fix common issues link
  docs/05-gitlab/02-activation.mdx
  docs/10-faq/index.mdx
Due: format documents

Complete sections in common-issues
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Fix solution title level
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Better title for warning
  docs/05-gitlab/02-activation.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Add FAQ page (#304)
  docs/05-gitlab/02-activation.mdx
  docs/09-troubleshooting/common-issues.mdx
  docs/10-faq/index.mdx
  docusaurus.config.js
  vercel.json
Due: format documents, format configs, format code, run tests

feat: add about us page
  docusaurus.config.js
  package.json
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/our-story-section/our-story.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
  src/components/pages/about-us/section/the-team-section/pictures/david.jpg
  src/components/pages/about-us/section/the-team-section/pictures/fisher.png
  src/components/pages/about-us/section/the-team-section/pictures/gableroux.png
  src/components/pages/about-us/section/the-team-section/pictures/webber.png
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/team-pattern.svg
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/css/custom.css
  src/pages/about.tsx
  tailwind.config.js
Due: format configs, format code, run tests

feat: update gabs photo
  src/components/pages/about-us/section/the-team-section/pictures/gableroux.png
Due: none

fix: broken responsive
  src/components/pages/about-us/section/our-story-section/our-story.tsx
Due: format code, run tests

chore: also check docs and about with lighthouse
  .github/workflows/lighthouse-report.yml
Due: format configs

feat: about us page (#305)
  docusaurus.config.js
  package.json
  src/components/pages/about-us/section/header-section/header-section.tsx
  src/components/pages/about-us/section/our-story-section/our-story.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-bullet.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item-text.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline-item.tsx
  src/components/pages/about-us/section/our-story-section/timeline/timeline.tsx
  src/components/pages/about-us/section/the-team-section/pictures/david.jpg
  src/components/pages/about-us/section/the-team-section/pictures/fisher.png
  src/components/pages/about-us/section/the-team-section/pictures/gableroux.png
  src/components/pages/about-us/section/the-team-section/pictures/webber.png
  src/components/pages/about-us/section/the-team-section/profile.tsx
  src/components/pages/about-us/section/the-team-section/team-pattern.svg
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
  src/css/custom.css
  src/pages/about.tsx
  tailwind.config.js
Due: format configs, format code, run tests

Docs: add diagrams
  static/assets/images/DockerHost.drawio.svg
  static/assets/images/FeedbackLoop.drawio.svg
  static/assets/images/Prices.drawio.svg
  static/assets/images/Virtualization.drawio.svg
Due: none

Update 03-custom-hooks.md
  docs/03-github-cloud-runner/05-advanced-topics/03-custom-hooks.md
Due: format documents

Update ios.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Docs/diagrams (#307)
  static/assets/images/DockerHost.drawio.svg
  static/assets/images/FeedbackLoop.drawio.svg
  static/assets/images/Prices.drawio.svg
  static/assets/images/Virtualization.drawio.svg
Due: none

chore: also check docs and about with lighthouse (#306)
  .github/workflows/lighthouse-report.yml
Due: format configs

Update ios.mdx (#308)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update authors.yml
  blog/authors.yml
Due: format configs

Change davidmfinol.website to davidmfinol.com
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
Due: format code, run tests

Update getting-started.tsx
  src/components/pages/home/section/getting-started.tsx
Due: format code, run tests

Update getting-started.tsx (#311)
  src/components/pages/home/section/getting-started.tsx
Due: format code, run tests

Change davidmfinol.website to davidmfinol.com (#310)
  src/components/pages/about-us/section/the-team-section/the-team-section.tsx
Due: format code, run tests

Standardize App Store Connect secret key names in iOS deploy docs
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Standardize App Store Connect secret key names in iOS deploy docs (#312)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Link keystore setup in builder docs.
  docs/03-github/04-builder.mdx
Due: format documents

Add troubleshooting notes, ssh to build job
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Run prettifier
  docs/03-github/04-builder.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Documentation improvements for android build and app store deployment (#315)
  docs/03-github/04-builder.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

fix env name
  docs/03-github/06-deployment/ios.mdx
Due: format documents

fix env name (#316)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Add clarifications about semantic versioning
  docs/03-github/04-builder.mdx
Due: format documents

Update docs/03-github/04-builder.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Update 04-builder.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Add clarifications about semantic versioning (#317)
  docs/03-github/04-builder.mdx
Due: format documents

feat: display an additional level in toc of test runner and builder docs
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/04-builder.mdx
Due: format documents

chore: update action-cats
  .github/workflows/cats.yml
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/
  make shell script executable: any of: *.sh
