Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format configs:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git add {staged_files}

type check:
  run: yarn typecheck

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files} && git add {staged_files}

Update node to v20
  .github/workflows/checks.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  CONTRIBUTING.md
  README.md
  package.json
Due: format documents, format configs

Update node to v20 (#509)
  .github/workflows/checks.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  CONTRIBUTING.md
  README.md
  package.json
Due: format documents, format configs

Update steam.mdx
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Fix formatting
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Fix typos
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Prettier fixes
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Add information on where to find `config.vdf` and needing to refresh it to fix `ERROR (License expired)` (#511)
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Upgrade upload-artifact to v4
  docs/03-github/01-getting-started.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
  docs/03-github/06-deployment/android.mdx
  docs/03-github/06-deployment/ios.mdx
  docs/03-github/06-deployment/steam.mdx
  versioned_docs/version-1/04-github/01-getting-started.mdx
  versioned_docs/version-1/04-github/02-activation.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/04-builder.mdx
  versioned_docs/version-1/04-github/06-deployment/android.mdx
  versioned_docs/version-1/04-github/06-deployment/ios.mdx
  versioned_docs/version-2/03-github/01-getting-started.mdx
  versioned_docs/version-2/03-github/02-activation.mdx
  versioned_docs/version-2/03-github/03-test-runner.mdx
  versioned_docs/version-2/03-github/04-builder.mdx
  versioned_docs/version-2/03-github/06-deployment/android.mdx
  versioned_docs/version-2/03-github/06-deployment/ios.mdx
  versioned_docs/version-2/03-github/06-deployment/steam.mdx
  versioned_docs/version-3/03-github/01-getting-started.mdx
  versioned_docs/version-3/03-github/02-activation.mdx
  versioned_docs/version-3/03-github/03-test-runner.mdx
  versioned_docs/version-3/03-github/04-builder.mdx
  versioned_docs/version-3/03-github/06-deployment/android.mdx
  versioned_docs/version-3/03-github/06-deployment/ios.mdx
  versioned_docs/version-3/03-github/06-deployment/steam.mdx
Due: format documents

Upgrade upload-artifact to v4 (#512)
  docs/03-github/01-getting-started.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
  docs/03-github/06-deployment/android.mdx
  docs/03-github/06-deployment/ios.mdx
  docs/03-github/06-deployment/steam.mdx
  versioned_docs/version-1/04-github/01-getting-started.mdx
  versioned_docs/version-1/04-github/02-activation.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/04-builder.mdx
  versioned_docs/version-1/04-github/06-deployment/android.mdx
  versioned_docs/version-1/04-github/06-deployment/ios.mdx
  versioned_docs/version-2/03-github/01-getting-started.mdx
  versioned_docs/version-2/03-github/02-activation.mdx
  versioned_docs/version-2/03-github/03-test-runner.mdx
  versioned_docs/version-2/03-github/04-builder.mdx
  versioned_docs/version-2/03-github/06-deployment/android.mdx
  versioned_docs/version-2/03-github/06-deployment/ios.mdx
  versioned_docs/version-2/03-github/06-deployment/steam.mdx
  versioned_docs/version-3/03-github/01-getting-started.mdx
  versioned_docs/version-3/03-github/02-activation.mdx
  versioned_docs/version-3/03-github/03-test-runner.mdx
  versioned_docs/version-3/03-github/04-builder.mdx
  versioned_docs/version-3/03-github/06-deployment/android.mdx
  versioned_docs/version-3/03-github/06-deployment/ios.mdx
  versioned_docs/version-3/03-github/06-deployment/steam.mdx
Due: format documents

Fix incorrect official github@actions/upload-artifact URL
  docs/03-github/04-builder.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/04-builder.mdx
  versioned_docs/version-2/03-github/04-builder.mdx
  versioned_docs/version-3/03-github/04-builder.mdx
Due: format documents

Fix incorrect official github@actions/upload-artifact URL (#513)
  docs/03-github/04-builder.mdx
  versioned_docs/version-1/04-github/03-test-runner.mdx
  versioned_docs/version-1/04-github/04-builder.mdx
  versioned_docs/version-2/03-github/04-builder.mdx
  versioned_docs/version-3/03-github/04-builder.mdx
Due: format documents

Update ios.mdx
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update ios.mdx (#514)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Document `linux64RemoveExecutableExtension`
  docs/03-github/04-builder.mdx
Due: format documents

Update Xcode setup in iOS deployment workflow
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update usymtool file matching pattern in deployment script
  docs/03-github/06-deployment/ios.mdx
Due: format documents

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: format configs

Change build profile to activeBuildProfile and improve validation
  example/BuildScript.cs
Due: none

Change build profile to activeBuildProfile and improve validation (#520)
  example/BuildScript.cs
Due: none

Update usymtool file matching pattern in deployment script (#517)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Apply suggestion from @davidmfinol
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update Xcode setup in iOS deployment workflow (#516)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

document incremental build cache in builder docs
  docs/03-github/04-builder.mdx
Due: format documents

AI caught mistake
  docs/03-github/04-builder.mdx
Due: format documents

Update troubleshooting section for disk space issues
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Run prettier
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

reformat with prettier
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

capitalize IL2CPP
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

style(sponsors-section): Improve responsive design of sponsors iframe
  src/components/pages/home/section/sponsors-section.tsx
Due: format code, type check, run tests

feat(sponsors-section): Add dynamic iframe height adjustment with postMessage
  src/components/pages/home/section/sponsors-section.tsx
Due: format code, type check, run tests

Redesign landing page with enterprise-polished sections
  jest.config.js
  src/components/pages/home/section/code-examples-section.tsx
  src/components/pages/home/section/code-snippet-section.tsx
  src/components/pages/home/section/donate-cta-section.tsx
  src/components/pages/home/section/features-grid-section.tsx
  src/components/pages/home/section/gallery-section.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/hero-section.tsx
  src/components/pages/home/section/how-it-works-section.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/our-vision-section.tsx
  src/components/pages/home/section/platform-support-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/testimonials-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/components/pages/home/section/trusted-by-section.tsx
  src/components/pages/home/section/visual-representation-of-what-we-do.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/css/custom.css
  src/pages/docs/docker/versions.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  tests/donate-cta-section.test.tsx
  tsconfig.json
Due: format configs, format code, type check, run tests

feat(trusted-by-section): Replace Totema Studios with Tobafeu Studio and add dark mode logo support
  src/components/pages/home/section/trusted-by-section.tsx
  static/assets/images/devs/tobafeu-studio-logo-dark.svg
  static/assets/images/devs/tobafeu-studio-logo-light.svg
  static/assets/images/devs/totemastudio-logo.svg
Due: format code, type check, run tests

docs(faq): Update Gabriel Le Breton's studio affiliation and title
  docs/10-faq/index.mdx
  versioned_docs/version-2/10-faq/index.mdx
  versioned_docs/version-3/10-faq/index.mdx
Due: format documents

feat(trusted-by-section): Add invertOnLight support for studio logos
  src/components/pages/home/section/trusted-by-section.tsx
Due: format code, type check, run tests

Add Playwright e2e tests and migrate to yarn 4
  .eslintignore
  .github/workflows/checks.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .gitignore
  .prettierignore
  .yarnrc.yml
  e2e/landing-page.spec.ts
  jest.config.js
  package.json
  playwright.config.ts
  src/components/pages/home/section/trusted-by-section.tsx
  yarn.lock
Due: format configs, format code, type check, run tests

Polish landing page sections and rename Dick to Webber
  docs/10-faq/index.mdx
  src/components/pages/about-us/section/the-team-section/data/team-info.ts
  src/components/pages/home/section/code-snippet-section.tsx
  src/components/pages/home/section/hero-section.tsx
  src/components/pages/home/section/section.tsx
  src/components/pages/home/section/stats-section.tsx
  src/css/custom.css
  src/pages/index.tsx
  versioned_docs/version-2/10-faq/index.mdx
  versioned_docs/version-3/10-faq/index.mdx
Due: format documents, format code, type check, run tests

Link CI/CD platform cards to their docs pages
  src/components/pages/home/section/platform-support-section.tsx
Due: format code, type check, run tests

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/|build/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/|build/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  type check: any of: *.{ts,tsx}, but not: .docusaurus/|build/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  make shell script executable: any of: *.sh, but not: .docusaurus/|build/
