Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format configs:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git add {staged_files}

type check:
  run: yarn typecheck

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files} && git add {staged_files}

customStepFiles rather than customPostStep in getting started examples
  docs/03-github-cloud-runner/03-getting-started/02-aws.mdx
  docs/03-github-cloud-runner/03-getting-started/03-kubernetes.mdx
Due: format documents

Add androidVersionCode output docs
  docs/03-github/04-builder.mdx
Due: format documents

Add androidVersionCode output docs (#349)
  docs/03-github/04-builder.mdx
Due: format documents

Fix header level for coverageOptions
  docs/03-github/03-test-runner.mdx
Due: format documents

Fix header level for coverageOptions (#350)
  docs/03-github/03-test-runner.mdx
Due: format documents

fix: Add MATCH_DEPLOY_KEY as env to example that uses it in a run step
  docs/03-github/06-deployment/ios.mdx
Due: format documents

fix: Add MATCH_DEPLOY_KEY as env to example that uses it in a run step (#351)
  docs/03-github/06-deployment/ios.mdx
Due: format documents

fix: add -w flag to base64 command in circleci activation proccess
  docs/11-circleci/02-activation.mdx
Due: format documents

fix: add -w option to base64 command in circleci activation process
  docs/11-circleci/02-activation.mdx
Due: format documents

Update 01-getting-started.mdx
  docs/03-github/01-getting-started.mdx
Due: format documents

Update steam.mdx
  docs/03-github/06-deployment/steam.mdx
Due: format documents

fix: add -w option to base64 command in circleci activation process (#354)
  docs/11-circleci/02-activation.mdx
Due: format documents

Update 01-getting-started.mdx (#357)
  docs/03-github/01-getting-started.mdx
Due: format documents

Update docs to reflect changes in unity builder PR#505
  docs/03-github/04-builder.mdx
  package.json
Due: format documents, format configs

Update docs to reflect changes in unity builder PR#505 (#362)
  docs/03-github/04-builder.mdx
  package.json
Due: format documents, format configs

Update 04-builder.mdx
  docs/03-github/04-builder.mdx
Due: format documents

chore: deploy to firebase
  .firebaserc
  .gitignore
  firebase.json
Due: format configs

chore: firebase deployment workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: format configs

chore: exclude dist and generated folders
  .gitignore
  .idea/documentation.iml
  .idea/prettier.xml
Due: none

chore: remove vercel, introduce firebase
  .gitignore
  README.md
  docusaurus.config.js
Due: format documents, format code, run tests

chore: enable autocrlf
  .gitattributes
Due: none

chore: show diff for idea files
  .gitattributes
Due: none

chore: remove lighthouse workflow
  .github/workflows/lighthouse-formatter.mjs
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
Due: format configs

chore: switch hosting provider from vercel to firebase (#364)
  .firebaserc
  .gitattributes
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/lighthouse-formatter.mjs
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
  .gitignore
  .idea/documentation.iml
  .idea/prettier.xml
  README.md
  docusaurus.config.js
  firebase.json
Due: format documents, format configs, format code, run tests

add information about required modifications to the .gitignore file
  docs/02-getting-started/index.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

make link relative
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

reword concisely and make link relative
  docs/02-getting-started/index.mdx
Due: format documents

add newlines
  docs/02-getting-started/index.mdx
Due: format documents

run prettier again
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Update android.mdx
  docs/03-github/06-deployment/android.mdx
Due: format documents

Update android.mdx (#367)
  docs/03-github/06-deployment/android.mdx
Due: format documents

Add the need for custom .gitignore extensions to the Getting Started guide. (#365) (#366)
  docs/02-getting-started/index.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

fix: broken link to /discord
  firebase.json
Due: format configs

Fix discord link (#374)
  firebase.json
Due: format configs

Update steam docs to mention TOTP
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Run prettier
  docs/03-github/06-deployment/steam.mdx
Due: format documents

Remove small typo in Android deployment
  docs/03-github/06-deployment/android.mdx
Due: format documents

Remove small typo in Android deployment (#376)
  docs/03-github/06-deployment/android.mdx
Due: format documents

blender customization example in doc
  docs/08-docker/03-customize-docker-images.mdx
Due: format documents

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/|build/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/|build/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  type check: any of: *.{ts,tsx}, but not: .docusaurus/|build/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  make shell script executable: any of: *.sh, but not: .docusaurus/|build/
