Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

Add cleanup stuck builds button to versions page
  src/components/docs/versions/clean-up-stuck-builds-button.tsx
  src/components/docs/versions/image-versions.tsx
Due: format code, type check, run tests

Fix lint: rename err to error
  src/components/docs/versions/clean-up-stuck-builds-button.tsx
Due: format code, type check, run tests

Reject non-OK responses in useAuthenticatedEndpoint
  src/core/hooks/use-authenticated-endpoint.tsx
Due: format code, type check, run tests

Add cleanup stuck builds button to versions page (#547)
  src/components/docs/versions/clean-up-stuck-builds-button.tsx
  src/components/docs/versions/image-versions.tsx
  src/core/hooks/use-authenticated-endpoint.tsx
Due: format code, type check, run tests

docs: document AWS ECS 8192-byte containerOverrides limit and secret pulling workaround
  docs/03-github-orchestrator/05-providers/02-aws.mdx
  docs/03-github-orchestrator/06-secrets.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

docs: rename AWS section from Limitations to Troubleshooting
  docs/03-github-orchestrator/05-providers/02-aws.mdx
Due: format documents

feat: add reset button for maxed-out failed builds on versions page
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format code, type check, run tests

fix: use destructured meta variable to satisfy lint rule
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format code, type check, run tests

feat: add 8192 troubleshooting entry and reset button for maxed-out builds
  docs/09-troubleshooting/common-issues.mdx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format documents, format code, type check, run tests

revert: move troubleshooting entry and reset button UI to dedicated PR #548
  docs/09-troubleshooting/common-issues.mdx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format documents, format code, type check, run tests

docs: restore 8192 troubleshooting entry for orchestrator LTS 2.0.0
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

remove troubleshooting entry (moved to orchestrator LTS 2.0.0 PR #541)
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

Add reset button for maxed-out failed builds on versions page (#548)
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format code, type check, run tests

Add bulk 'Reset all failed builds' admin button to versions page
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/reset-all-failed-builds-button.tsx
Due: format code, type check, run tests

Add bulk 'Reset all failed builds' admin button to versions page (#549)
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/reset-all-failed-builds-button.tsx
Due: format code, type check, run tests

Show server error detail in authenticated endpoint failures
  src/core/hooks/use-authenticated-endpoint.tsx
Due: format code, type check, run tests

Show server error detail in endpoint failure messages
  src/core/hooks/use-authenticated-endpoint.tsx
Due: format code, type check, run tests

Add admin dashboard, bulk retry, filters, timeline to versions page
  src/components/docs/versions/build-status-dashboard.tsx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/unity-versions.tsx
Due: format code, type check, run tests

fix: resolve lint errors in build-row and builds components
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.tsx
Due: format code, type check, run tests

feat: add queue diagnostics to admin versions page
  src/components/docs/versions/builds/build-failure-details.tsx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/queue-management-panel.tsx
Due: format code, type check, run tests

Fix PowerShell command for decoding DeveloperData
  docs/05-gitlab/02-activation.mdx
Due: format documents

Adds usesHostNetwork in the documentation
  docs/03-github/04-builder.mdx
Due: format documents

Update docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/01-introduction.mdx
Due: format documents

Update docs/03-github-orchestrator/02-getting-started.mdx
  docs/03-github-orchestrator/02-getting-started.mdx
Due: format documents

fix: update download-artifact from v3 to v4
  docs/03-github/06-deployment/android.mdx
  docs/03-github/06-deployment/ios.mdx
  docs/03-github/06-deployment/steam.mdx
Due: format documents

docs: address Gabe's review — provider tabs, OIDC auth, SSO note, GC clarification
  docs/03-github-orchestrator/02-getting-started.mdx
  docs/03-github-orchestrator/03-examples/01-command-line.mdx
  docs/03-github-orchestrator/03-examples/02-github-actions.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
Due: format documents

fix: address review feedback — hooks violations, stuck filter, null check, lint
  src/components/docs/versions/build-status-dashboard.tsx
  src/components/docs/versions/builds/build-failure-details.tsx
  src/components/docs/versions/builds/build-row.tsx
  src/components/docs/versions/builds/builds.tsx
  src/components/docs/versions/queue-management-panel.tsx
  src/components/docs/versions/unity-versions.tsx
Due: format code, type check, run tests

fix: correct import order in image-versions.tsx
  src/components/docs/versions/image-versions.tsx
Due: format code, type check, run tests

docs: improve garbage-collect description with safety warning
  docs/03-github-orchestrator/03-examples/01-command-line.mdx
Due: format documents

Revert "docs: improve garbage-collect description with safety warning"
  docs/03-github-orchestrator/03-examples/01-command-line.mdx
Due: format documents

docs: add Unity Accelerator integration guide
  docs/03-github-orchestrator/07-advanced-topics/19-unity-accelerator.mdx
Due: format documents

docs: add cache checkpointing and survival guide
  docs/03-github-orchestrator/07-advanced-topics/20-cache-checkpointing.mdx
  yarn.lock
Due: format documents

docs: add cache pre-warming examples to checkpointing guide
  docs/03-github-orchestrator/07-advanced-topics/20-cache-checkpointing.mdx
Due: format documents

fix: align mermaid dependencies with lockfile
  package.json
  yarn.lock
Due: format configs

fix: avoid mermaid policy-blocked dependencies
  package.json
  yarn.lock
Due: format configs

docs: document Unity cache and reliability additions
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/09-troubleshooting/common-issues.mdx
Due: format documents

chore: migrate to mise + bump yarn to 4.14.1
  .github/workflows/checks.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .yarnrc.yml
  mise.toml
  package.json
  yarn.lock
Due: format configs

Improve Orchestrator documentation structure
  docs/03-github-orchestrator/01-introduction-to-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/01-command-line.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/02-github-actions.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/03-aws.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/04-kubernetes.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/_category_.yaml
  docs/03-github-orchestrator/01-introduction-to-orchestrator/_category_.yaml
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/05-providers/09-gitlab-integration.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/08-storage.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-build-output-system.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-large-projects.mdx
  docs/03-github-orchestrator/07-advanced-topics/20-cache-checkpointing.mdx
  docs/03-github-orchestrator/07-advanced-topics/_category_.yaml
  docs/03-github-orchestrator/08-cli/_category_.yaml
  docs/03-github-orchestrator/_category_.yaml
  docs/09-troubleshooting/common-issues.mdx
  package.json
  versioned_docs/version-2/03-github-orchestrator/_category_.yaml
  versioned_docs/version-3/03-github-orchestrator/_category_.yaml
  yarn.lock
Due: format documents, format configs

docs: document public cli and orchestrator positioning
  docs/03-github-orchestrator/01-introduction-to-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/03-getting-started.mdx
  docs/03-github-orchestrator/01-introduction-to-orchestrator/04-examples/01-command-line.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-large-projects.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/_category_.yaml
  docs/04-cli/02-build.mdx
  docs/04-cli/03-remote-builds.mdx
  docs/04-cli/04-configuration-and-plugins.mdx
  docs/04-cli/_category_.yaml
  docs/04-cli/index.mdx
Due: format documents, format configs
