Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format configs:
  run: yarn prettier --write {staged_files} && git add {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git add {staged_files}

type check:
  run: yarn typecheck

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x {staged_files} && git add {staged_files}

chore: always run full typecheck, because it's breaking
  lefthook.yml
Due: format configs

chore: add circle-ci sponsor (#339)
  lefthook.yml
  package.json
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/sponsors-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/pages/index.tsx
  yarn.lock
Due: format configs, format code, type check, run tests

chore: add CircleCI to readme and fix Vercel's link
  README.md
  static/assets/readme/CircleCI.svg
Due: format documents

chore: fix Discord's icon path
  README.md
Due: format documents

docs: add `utm_source` to CCI's link
  src/components/pages/home/section/sponsors-section.tsx
Due: format code, type check, run tests

refactor: comply with prettier style guide
  README.md
Due: format documents

ci: comment out the lighthouse report action
  .github/workflows/lighthouse-report.yml
Due: format configs

chore: add CircleCI to readme and remove Lighthouse's check (#340)
  .github/workflows/lighthouse-report.yml
  README.md
  src/components/pages/home/section/sponsors-section.tsx
  static/assets/readme/CircleCI.svg
Due: format documents, format configs, format code, type check, run tests

chore: centralize and add space between logos
  README.md
  static/assets/readme/CircleCI.svg
  static/assets/readme/Vercel.svg
Due: format documents

chore: fix style
  README.md
Due: format documents

Add basic documentation of the option unityLicensingServer
  docs/03-github/02-activation.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Add basic documentation of the option unityLicensingServer (#342)
  docs/03-github/02-activation.mdx
  docs/03-github/03-test-runner.mdx
  docs/03-github/04-builder.mdx
Due: format documents

Added documentation for fetching submodules
  docs/11-circleci/03-build.mdx
Due: format documents

docs: add missing full stop
  docs/11-circleci/03-build.mdx
Due: format documents

Added documentation for fetching submodules (#343)
  docs/11-circleci/03-build.mdx
Due: format documents

fix: macOS example in CCI's build job
  docs/11-circleci/03-build.mdx
Due: format documents

fix: macOS example in CCI's build job (#344)
  docs/11-circleci/03-build.mdx
Due: format documents

Starting docs cr 1.0
  docs/03-github-cloud-runner/01-introduction.mdx
  docs/03-github-cloud-runner/02-getting-started/02-github-actions-aws.mdx
  docs/03-github-cloud-runner/02-getting-started/03-github-actions-kubernetes.mdx
  docs/03-github-cloud-runner/04-API-Reference.mdx
  docs/03-github-cloud-runner/05-advanced-topics/01-caching.md
  docs/03-github-cloud-runner/05-advanced-topics/02-performance.md
  docs/03-github-cloud-runner/05-advanced-topics/02-responsive-pipelines/01-caching.md
  docs/03-github-cloud-runner/05-advanced-topics/02-responsive-pipelines/02-performance.md
  docs/03-github-cloud-runner/05-advanced-topics/04-custom-steps.md
  docs/03-github-cloud-runner/05-advanced-topics/04-extensible-workflows/03-custom-hooks.md
  docs/03-github-cloud-runner/05-advanced-topics/04-extensible-workflows/04-custom-steps.md
  docs/03-github-cloud-runner/05-advanced-topics/08-cloud-runner-model/06-garbage-collection.md
  docs/03-github-cloud-runner/05-advanced-topics/08-cloud-runner-model/08-logging.md
  docs/03-github-cloud-runner/05-advanced-topics/08-cloud-runner-model/08-secrets.md
  docs/03-github-cloud-runner/05-advanced-topics/09-github/09-nested-github-runners.md
  docs/03-github-cloud-runner/05-command-line/01-command-line.mdx
  docs/03-github-cloud-runner/05-command-line/02-input-override.mdx
  docs/03-github-cloud-runner/06-development.mdx
  docs/03-github-cloud-runner/09-game-ci-vs-cloud-runner.mdx
  media/what_does_cloud_runner_do_basics.png
Due: format documents

Delete what_does_cloud_runner_do_basics.png
  media/what_does_cloud_runner_do_basics.png
Due: none

Update 06-garbage-collection.md
  docs/03-github-cloud-runner/05-advanced-topics/08-cloud-runner-model/06-garbage-collection.md
Due: format documents

Update 01-command-line.mdx
  docs/03-github-cloud-runner/05-command-line/01-command-line.mdx
Due: format documents

Update 02-performance.md
  docs/03-github-cloud-runner/05-advanced-topics/02-responsive-pipelines/02-performance.md
Due: format documents

cleanup
  docs/03-github-cloud-runner/01-introduction.mdx
  docs/03-github-cloud-runner/02-getting-started/02-github-actions-aws.mdx
  docs/03-github-cloud-runner/02-getting-started/03-github-actions-kubernetes.mdx
  docs/03-github-cloud-runner/03-configuration.mdx
  docs/03-github-cloud-runner/05-command-line/01-command-line.mdx
Due: format documents

order fix
  docs/03-github-cloud-runner/06-command-line/01-command-line.mdx
  docs/03-github-cloud-runner/06-command-line/02-input-override.mdx
Due: format documents

fix
  docs/03-github-cloud-runner/02-getting-started/02-aws.mdx
  docs/03-github-cloud-runner/02-getting-started/03-kubernetes.mdx
  docs/03-github-cloud-runner/03-configuration.mdx
Due: format documents

Update 01-command-line.mdx
  docs/03-github-cloud-runner/06-command-line/01-command-line.mdx
Due: format documents

rename
  docs/03-github-cloud-runner/02-game-ci-vs-cloud-runner.mdx
  docs/03-github-cloud-runner/03-getting-started/02-aws.mdx
  docs/03-github-cloud-runner/03-getting-started/03-kubernetes.mdx
  docs/03-github-cloud-runner/03-getting-started/_category_.yaml
  docs/03-github-cloud-runner/04-configuration.mdx
  docs/03-github-cloud-runner/05-API-Reference.mdx
Due: format documents, format configs

cleanup
  docs/03-github-cloud-runner/06-advanced-topics/02-responsive-pipelines/01-caching.md
  docs/03-github-cloud-runner/06-advanced-topics/02-responsive-pipelines/02-performance.md
  docs/03-github-cloud-runner/06-advanced-topics/04-extensible-workflows/03-custom-hooks.md
  docs/03-github-cloud-runner/06-advanced-topics/04-extensible-workflows/04-custom-steps.md
  docs/03-github-cloud-runner/06-advanced-topics/08-cloud-runner-model/06-garbage-collection.md
  docs/03-github-cloud-runner/06-advanced-topics/08-cloud-runner-model/08-logging.md
  docs/03-github-cloud-runner/06-advanced-topics/08-cloud-runner-model/08-secrets.md
  docs/03-github-cloud-runner/06-advanced-topics/09-github/09-nested-github-runners.md
  docs/03-github-cloud-runner/06-advanced-topics/_category_.yaml
  docs/03-github-cloud-runner/07-command-line/01-command-line.mdx
  docs/03-github-cloud-runner/07-command-line/02-input-override.mdx
Due: format documents, format configs

New format
  docs/03-github-cloud-runner/03-getting-started/01-command-line.mdx
  docs/03-github-cloud-runner/06-advanced-topics/01-caching.mdx
  docs/03-github-cloud-runner/06-advanced-topics/02-responsive-pipelines/02-performance.md
  docs/03-github-cloud-runner/06-advanced-topics/02-retained-workspace.mdx
  docs/03-github-cloud-runner/06-advanced-topics/03-garbage-collection.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-configuration-override.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-extensible-jobs/03-custom-hooks.md
  docs/03-github-cloud-runner/06-advanced-topics/04-extensible-jobs/04-custom-steps.md
  docs/03-github-cloud-runner/06-advanced-topics/05-logging.mdx
  docs/03-github-cloud-runner/06-advanced-topics/06-secrets.mdx
  docs/03-github-cloud-runner/06-advanced-topics/09-git-providers/github/09-nested-github-runners.md
  docs/03-github-cloud-runner/06-advanced-topics/09-git-providers/gitlab/01-introduction-gitlab.mdx
Due: format documents

cleanup
  docs/03-github-cloud-runner/03-getting-started/01-command-line.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-configuration-override.mdx
Due: format documents

fix
  docs/03-github-cloud-runner/03-getting-started/02-aws.mdx
  docs/03-github-cloud-runner/03-getting-started/03-kubernetes.mdx
  docs/03-github-cloud-runner/06-advanced-topics/03-garbage-collection.mdx
Due: format documents

Update 05-API-Reference.mdx
  docs/03-github-cloud-runner/05-API-Reference.mdx
Due: format documents

updates
  docs/03-github-cloud-runner/06-advanced-topics/02-retained-workspace.mdx
  docs/03-github-cloud-runner/06-advanced-topics/04-extensible-jobs/05-premade-steps.mdx
Due: format documents

Path conditions:
  format documents: any of: *.{md,mdx}, but not: .docusaurus/|build/
  format configs: any of: *.{json,yml,yaml}, but not: .docusaurus/|build/
  format code: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  type check: any of: *.{ts,tsx}, but not: .docusaurus/|build/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: .docusaurus/|build/
  make shell script executable: any of: *.sh, but not: .docusaurus/|build/
