Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, type check, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

#pre-push:
#  parallel: true
#  commands:
#    packages-audit:
#      tags: security
#      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/|build/'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run:
        yarn prettier --write {staged_files} && yarn eslint --stdin-filename {staged_files} && git
        add {staged_files}
    type check:
      glob: '*.{ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn typecheck
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/|build/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      exclude: '.docusaurus/|build/'
      run: git update-index --chmod=+x {staged_files} && git add {staged_files}

docs: separate incremental sync protocol, update hot runner focus
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
Due: format documents

docs: add massive projects and monorepo support advanced topics
  docs/03-github-orchestrator/07-advanced-topics/15-massive-projects.mdx
  docs/03-github-orchestrator/07-advanced-topics/16-monorepo-support.mdx
Due: format documents

docs: add build reliability advanced topics page
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
Due: format documents

docs: add CI dispatch and infrastructure automation provider pages
  docs/03-github-orchestrator/05-providers/04-github-actions-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-gitlab-ci-dispatch.mdx
  docs/03-github-orchestrator/05-providers/06-remote-powershell.mdx
  docs/03-github-orchestrator/05-providers/07-ansible.mdx
  docs/03-github-orchestrator/05-providers/_category_.yaml
Due: format documents, format configs

fix(docs): add missing sidebar_position frontmatter to advanced topics pages
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-build-output-system.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-massive-projects.mdx
  docs/03-github-orchestrator/07-advanced-topics/16-monorepo-support.mdx
Due: format documents

docs(orchestrator): Fix typos and formatting in documentation
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/03-examples/01-command-line.mdx
  docs/03-github-orchestrator/03-examples/02-github-examples/03-kubernetes.mdx
  docs/03-github-orchestrator/06-advanced-topics/04-configuration-override.mdx
  docs/03-github-orchestrator/06-advanced-topics/04-custom-hooks/05-premade-container-jobs.mdx
Due: format documents

Apply suggestion from @GabLeRoux
  docs/03-github-orchestrator/03-examples/02-github-examples/03-kubernetes.mdx
Due: format documents

docs(cli): add game-ci CLI documentation
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
  docs/03-github-orchestrator/08-cli/_category_.yaml
Due: format documents, format configs

fix(cli): correct flag names, defaults, and coverage to match implementation
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents

chore: add integration branch update scripts
  delete-me-update-all-integration-branches.ps1
  delete-me-update-this-integration-branch.ps1
Due: none

docs(orchestrator): Fix typos and formatting in documentation (#539)
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/03-examples/01-command-line.mdx
  docs/03-github-orchestrator/06-advanced-topics/04-configuration-override.mdx
  docs/03-github-orchestrator/06-advanced-topics/04-custom-hooks/05-premade-container-jobs.mdx
Due: format documents

Rename GitHub Actions workflows for iOS setup
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Refactor iOS deployment workflows and Fastfile
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update Fastlane command for iOS CI setup
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Update GITHUB_REPOSITORY reference in workflows
  docs/03-github/06-deployment/ios.mdx
Due: format documents

Clarify iOS Match Certificates Setup instructions
  docs/03-github/06-deployment/ios.mdx
Due: format documents

docs: update for standalone @game-ci/orchestrator package
  delete-me-update-all-integration-branches.ps1
  delete-me-update-this-integration-branch.ps1
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-getting-started.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents

docs: add dedicated AWS and Kubernetes example pages
  docs/03-github-orchestrator/03-examples/03-aws.mdx
  docs/03-github-orchestrator/03-examples/04-kubernetes.mdx
Due: format documents

fix: restore versioned_docs that were accidentally deleted
  versioned_docs/version-2/03-github-orchestrator/06-advanced-topics/09-gitlab/01-introduction-gitlab.mdx
  versioned_docs/version-2/03-github-orchestrator/06-advanced-topics/09-gitlab/_category_.yaml
  versioned_docs/version-3/03-github-orchestrator/06-advanced-topics/09-gitlab/01-introduction-gitlab.mdx
  versioned_docs/version-3/03-github-orchestrator/06-advanced-topics/09-gitlab/_category_.yaml
Due: format documents, format configs

fix: resolve broken Docusaurus links
  docs/03-github-orchestrator/04-jobs.mdx
  docs/03-github-orchestrator/05-providers/12-cli-provider-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
Due: format documents

docs: replace npm install with GitHub Releases install scripts
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
Due: format documents

docs: update install URLs to point to orchestrator repo
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
Due: format documents

style: format orchestrator docs with prettier
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/03-examples/03-aws.mdx
  docs/03-github-orchestrator/03-examples/04-kubernetes.mdx
  docs/03-github-orchestrator/04-jobs.mdx
  docs/03-github-orchestrator/05-providers/04-github-actions-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-gitlab-ci-dispatch.mdx
  docs/03-github-orchestrator/05-providers/06-remote-powershell.mdx
  docs/03-github-orchestrator/05-providers/07-ansible.mdx
  docs/03-github-orchestrator/05-providers/10-gcp-cloud-run.mdx
  docs/03-github-orchestrator/05-providers/11-azure-aci.mdx
  docs/03-github-orchestrator/05-providers/12-cli-provider-protocol.mdx
  docs/03-github-orchestrator/06-secrets.mdx
  docs/03-github-orchestrator/07-advanced-topics/07-load-balancing.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-lfs-agents.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-build-output-system.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-massive-projects.mdx
  docs/03-github-orchestrator/07-advanced-topics/16-monorepo-support.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents

docs: remove em-dashes and convert ASCII diagram to mermaid
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/03-examples/02-github-actions.mdx
  docs/03-github-orchestrator/03-examples/03-aws.mdx
  docs/03-github-orchestrator/03-examples/04-kubernetes.mdx
  docs/03-github-orchestrator/04-jobs.mdx
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/05-providers/02-aws.mdx
  docs/03-github-orchestrator/05-providers/03-kubernetes.mdx
  docs/03-github-orchestrator/05-providers/04-github-actions-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-gitlab-ci-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-local.mdx
  docs/03-github-orchestrator/05-providers/06-custom-providers.mdx
  docs/03-github-orchestrator/05-providers/06-remote-powershell.mdx
  docs/03-github-orchestrator/05-providers/07-ansible.mdx
  docs/03-github-orchestrator/05-providers/09-gitlab-integration.mdx
  docs/03-github-orchestrator/05-providers/10-gcp-cloud-run.mdx
  docs/03-github-orchestrator/05-providers/11-azure-aci.mdx
  docs/03-github-orchestrator/05-providers/12-cli-provider-protocol.mdx
  docs/03-github-orchestrator/06-secrets.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/02-retained-workspace.mdx
  docs/03-github-orchestrator/07-advanced-topics/07-load-balancing.mdx
  docs/03-github-orchestrator/07-advanced-topics/08-storage.mdx
  docs/03-github-orchestrator/07-advanced-topics/09-architecture.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-lfs-agents.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-build-output-system.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-massive-projects.mdx
  docs/03-github-orchestrator/07-advanced-topics/16-monorepo-support.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents

style: run prettier on documentation files
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/03-examples/02-github-actions.mdx
  docs/03-github-orchestrator/03-examples/03-aws.mdx
  docs/03-github-orchestrator/03-examples/04-kubernetes.mdx
  docs/03-github-orchestrator/04-jobs.mdx
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/05-providers/02-aws.mdx
  docs/03-github-orchestrator/05-providers/03-kubernetes.mdx
  docs/03-github-orchestrator/05-providers/04-github-actions-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-gitlab-ci-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-local.mdx
  docs/03-github-orchestrator/05-providers/06-custom-providers.mdx
  docs/03-github-orchestrator/05-providers/06-remote-powershell.mdx
  docs/03-github-orchestrator/05-providers/07-ansible.mdx
  docs/03-github-orchestrator/05-providers/09-gitlab-integration.mdx
  docs/03-github-orchestrator/05-providers/10-gcp-cloud-run.mdx
  docs/03-github-orchestrator/05-providers/11-azure-aci.mdx
  docs/03-github-orchestrator/05-providers/12-cli-provider-protocol.mdx
  docs/03-github-orchestrator/06-secrets.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/02-retained-workspace.mdx
  docs/03-github-orchestrator/07-advanced-topics/07-load-balancing.mdx
  docs/03-github-orchestrator/07-advanced-topics/08-storage.mdx
  docs/03-github-orchestrator/07-advanced-topics/09-architecture.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-lfs-agents.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/12-hot-runner-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/13-build-output-system.mdx
  docs/03-github-orchestrator/07-advanced-topics/14-incremental-sync-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/15-massive-projects.mdx
  docs/03-github-orchestrator/07-advanced-topics/16-monorepo-support.mdx
  docs/03-github-orchestrator/07-advanced-topics/17-build-reliability.mdx
  docs/03-github-orchestrator/08-cli/01-getting-started.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
  docs/03-github-orchestrator/08-cli/03-orchestrate-command.mdx
  docs/03-github-orchestrator/08-cli/04-other-commands.mdx
Due: format documents

docs: update CLI examples to use standalone orchestrator binary
  docs/03-github-orchestrator/03-examples/01-command-line.mdx
Due: format documents

docs: add mermaid support and convert ASCII diagrams across orchestrator docs
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/02-getting-started.mdx
  docs/03-github-orchestrator/04-jobs.mdx
  docs/03-github-orchestrator/05-providers/01-overview.mdx
  docs/03-github-orchestrator/05-providers/02-aws.mdx
  docs/03-github-orchestrator/05-providers/04-github-actions-dispatch.mdx
  docs/03-github-orchestrator/05-providers/05-gitlab-ci-dispatch.mdx
  docs/03-github-orchestrator/05-providers/06-custom-providers.mdx
  docs/03-github-orchestrator/05-providers/07-ansible.mdx
  docs/03-github-orchestrator/05-providers/08-github-integration.mdx
  docs/03-github-orchestrator/05-providers/10-gcp-cloud-run.mdx
  docs/03-github-orchestrator/05-providers/11-azure-aci.mdx
  docs/03-github-orchestrator/05-providers/12-cli-provider-protocol.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/02-retained-workspace.mdx
  docs/03-github-orchestrator/07-advanced-topics/04-garbage-collection.mdx
  docs/03-github-orchestrator/07-advanced-topics/05-hooks/04-container-hooks.mdx
  docs/03-github-orchestrator/07-advanced-topics/06-logging.mdx
  docs/03-github-orchestrator/07-advanced-topics/07-load-balancing.mdx
  docs/03-github-orchestrator/07-advanced-topics/08-storage.mdx
  docs/03-github-orchestrator/07-advanced-topics/09-architecture.mdx
  docs/03-github-orchestrator/07-advanced-topics/10-build-services.mdx
  docusaurus.config.js
  package.json
  yarn.lock
Due: format documents, format configs, format code, run tests

docs: refine introduction and comparison pages for orchestrator
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
Due: format documents

fix: resolve cytoscape webpack export error and broken doc link
  docs/03-github-orchestrator/01-introduction.mdx
  docusaurus.config.js
Due: format documents, format code, run tests

fix: remove npm install step, add missing providers to overview
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-getting-started.mdx
  docs/03-github-orchestrator/05-providers/01-overview.mdx
Due: format documents

docs: improve test workflow engine taxonomy framing
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
Due: format documents

docs: document engine plugin system for game-engine agnostic orchestration
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/05-api-reference.mdx
  docs/03-github-orchestrator/07-advanced-topics/01-caching.mdx
  docs/03-github-orchestrator/07-advanced-topics/18-engine-plugins.mdx
  docs/03-github-orchestrator/08-cli/02-build-command.mdx
Due: format documents

docs: reframe orchestrator as hardware-agnostic, not cloud-first
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/03-github-orchestrator/02-getting-started.mdx
Due: format documents

docs: replace "hardware" with "machines" for beginner friendliness
  docs/03-github-orchestrator/05-providers/04-github-actions-dispatch.mdx
  docs/09-troubleshooting/common-issues.mdx
  docs/11-circleci/05-executors.mdx
  docs/12-self-hosting/01-overview.mdx
  docs/12-self-hosting/02-host-types.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/04-windows.mdx
  docs/12-self-hosting/03-host-creation/03-QEMU/06-configuration.mdx
  versioned_docs/version-1/04-github/02-activation.mdx
  versioned_docs/version-2/03-github-orchestrator/01-introduction.mdx
  versioned_docs/version-2/11-circleci/05-executors.mdx
  versioned_docs/version-3/03-github-orchestrator/01-introduction.mdx
  versioned_docs/version-3/11-circleci/05-executors.mdx
Due: format documents

docs: replace em dashes with hyphens and fix remaining "hardware"
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-getting-started.mdx
  docs/03-github-orchestrator/07-advanced-topics/11-test-workflow-engine.mdx
  docs/03-github-orchestrator/07-advanced-topics/18-engine-plugins.mdx
  docs/11-circleci/01-getting-started.mdx
  versioned_docs/version-2/11-circleci/01-getting-started.mdx
  versioned_docs/version-3/11-circleci/01-getting-started.mdx
Due: format documents

docs: revert circleci em dash changes, fix remaining hardware refs
  docs/03-github-orchestrator/01-introduction.mdx
  docs/03-github-orchestrator/02-game-ci-vs-orchestrator.mdx
  docs/11-circleci/01-getting-started.mdx
  versioned_docs/version-2/11-circleci/01-getting-started.mdx
  versioned_docs/version-3/11-circleci/01-getting-started.mdx
Due: format documents

Fix React error #31 when admin clicks rebuild image button
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format code, type check, run tests

Fix React error #31 when admin clicks rebuild image button (#545)
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
Due: format code, type check, run tests
