Repository game-ci/documentation: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: security
      run: yarn audit

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      exclude: '.docusaurus/'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      exclude: '.docusaurus/'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/'
      run: |
        yarn prettier --write {staged_files} &&
        yarn eslint {staged_files} &&
        git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '.docusaurus/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x {staged_files}

bring back hooks
  core/hooks/use-clipboard.tsx
  core/hooks/use-notification.tsx
  package.json
  versions.json
Due: format configs, format code, run tests

bring back linting
  .eslintignore
  .prettierignore
  .prettierrc.json
  lefthook.yml
  yarn.lock
Due: format configs

bring back official sponsor links
  docusaurus.config.js
Due: format code, run tests

skip auditing while in v2 beta of docusaurus
  lefthook.yml
Due: format configs

bring back typescript react file types
  src/@types/filetypes.d.ts
Due: format code, run tests

reintroduce spinners
  src/components/reusable/spinner.module.scss
  src/components/reusable/spinner.tsx
  src/components/reusable/spinner/three-dots.tsx
Due: format code, run tests

delete menu structure
  src/core/menu-structure.tsx
Due: format code, run tests

swizzle Root component for global state and auth
  src/theme/Root.tsx
Due: format code, run tests

restore notification functionality
  core/hooks/use-notification.tsx
  package.json
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/show-and-copy-change-set-hash-button.tsx
  src/core/hooks/use-clipboard.tsx
  src/core/hooks/use-https-callable.tsx
  src/core/hooks/use-notification.tsx
  src/theme/Root.tsx
Due: format configs, format code, run tests

fix formatting
  .eslintrc.json
  .prettierignore
  README.md
  blog/authors.yml
  docs/03-docker/versions.md
  docs/04-github/01-getting-started.md
  docs/04-github/15-deployment/steam.md
  docs/intro.md
  lefthook.yml
  sidebars.js
  src/components/docs/versions/build-failure-details.tsx
  src/components/docs/versions/builds.tsx
  src/components/docs/versions/image-versions.tsx
  src/components/docs/versions/show-and-copy-change-set-hash-button.tsx
  src/components/docs/versions/unity-version.module.scss
  src/components/docs/versions/unity-versions.tsx
  src/components/docs/versions/versions.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/pricing-section.tsx
  src/components/pages/home/section/the-perks-section.tsx
  src/logic/counter/counter-slice.js
  src/logic/index.js
  src/logic/index.ts
  src/logic/versions/selected-version-slice.ts
  src/pages/docs/docker/versions.tsx
  src/pages/index.tsx
  tailwind.config.js
  versioned_docs/version-1/03-docker/versions.md
  versioned_docs/version-1/04-github/06-deployment/android.md
  versioned_docs/version-1/04-github/06-deployment/ios.md
  versioned_docs/version-1/intro.md
Due: format documents, format configs, format code, run tests

Remove empty page from previous version
  versioned_docs/version-1/03-docker/versions.md
Due: format documents

Remove unecessary custom css for svgs
  src/css/custom.css
Due: none

Apply small updates to documentation fixing todos and file titles
  docs/04-github/01-getting-started.md
  docs/04-github/15-deployment/android.md
  docs/04-github/15-deployment/ios.md
  docs/04-github/15-deployment/steam.md
  docs/05-gitlab/tests.md
Due: format documents

Implement custom dracula theme for better yaml
  docusaurus.config.js
Due: format code, run tests

feat: link GTM and GA4
  docusaurus.config.js
  lefthook.yml
  package.json
  yarn.lock
Due: format configs, format code, run tests

Move theme to own file
  docusaurus.config.js
  src/dracula-custom-code-theme.js
Due: format code, run tests

fix app id and api key to use docsearch
  docusaurus.config.js
Due: format code, run tests

Update algolia appId and apiKey to use docsearch
  docusaurus.config.js
Due: format code, run tests

Disabling contextualSearch to demonstrate that keys are ok
  docusaurus.config.js
Due: format code, run tests

Revert "Disabling contextualSearch to demonstrate that keys are ok"
  docusaurus.config.js
Due: format code, run tests

Update theme to match default yaml just like in IntelliJ <3
  docusaurus.config.js
  src/dracula-custom-code-theme.js
Due: format code, run tests

feat: link GTM and GA4 (#272)
  docusaurus.config.js
  lefthook.yml
  package.json
  yarn.lock
Due: format configs, format code, run tests

Add ReactPlayerWrapper again
  docs/04-github/01-getting-started.mdx
  docs/05-gitlab/01-getting-started.mdx
  package.json
  src/components/ReactPlayerWrapper/ReactPlayerWrapper.css
  src/components/ReactPlayerWrapper/ReactPlayerWrapper.jsx
  yarn.lock
Due: format documents, format configs, format code, run tests

fix: broken edit links
  docusaurus.config.js
Due: format code, run tests

fix: broken edit links (#276)
  docusaurus.config.js
Due: format code, run tests

Move theme to own file and fix docusaurus docsearch (#275)
  docusaurus.config.js
  src/dracula-custom-code-theme.js
Due: format code, run tests

Rename ReactPlayerWrapper to Video component and make it display properly
  docs/04-github/01-getting-started.mdx
  docs/05-gitlab/01-getting-started.mdx
  src/components/ReactPlayerWrapper/ReactPlayerWrapper.css
  src/components/ReactPlayerWrapper/ReactPlayerWrapper.jsx
  src/components/video/video.jsx
Due: format documents, format code, run tests

fix: restore animations, spinners, homepage sections
  docs/60-docker/01-docker-images.md
  docs/60-docker/02-windows-docker-images.md
  docs/60-docker/03-customize-docker-images.md
  docs/60-docker/versions.md
  docs/90-troubleshooting/common-issues.md
  src/components/docs/versions/builds.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/show-and-copy-change-set-hash-button.tsx
  src/components/docs/versions/unity-version.tsx
  src/components/molecules/animations/fade-into-view.tsx
  src/components/molecules/spinner.module.scss
  src/components/molecules/spinner.tsx
  src/components/molecules/spinner/three-dots.tsx
  src/components/pages/home/section/code-examples-section.tsx
  src/components/pages/home/section/gallery-section.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/our-vision-section.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/the-perks-section.tsx
  src/components/pages/home/section/visual-representation-of-what-we-do.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/components/reusable/animations/fade-into-view.tsx
  src/pages/index.tsx
Due: format documents, format code, run tests

fix: restore animations, spinners, homepage sections (#277)
  docs/60-docker/01-docker-images.md
  docs/60-docker/02-windows-docker-images.md
  docs/60-docker/03-customize-docker-images.md
  docs/60-docker/versions.md
  docs/90-troubleshooting/common-issues.md
  src/components/docs/versions/builds.tsx
  src/components/docs/versions/docker-image-link-or-retry-button.tsx
  src/components/docs/versions/show-and-copy-change-set-hash-button.tsx
  src/components/docs/versions/unity-version.tsx
  src/components/molecules/animations/fade-into-view.tsx
  src/components/molecules/spinner.module.scss
  src/components/molecules/spinner.tsx
  src/components/molecules/spinner/three-dots.tsx
  src/components/pages/home/section/code-examples-section.tsx
  src/components/pages/home/section/gallery-section.tsx
  src/components/pages/home/section/getting-started.tsx
  src/components/pages/home/section/opening-section.tsx
  src/components/pages/home/section/our-vision-section.tsx
  src/components/pages/home/section/section.module.scss
  src/components/pages/home/section/the-perks-section.tsx
  src/components/pages/home/section/visual-representation-of-what-we-do.tsx
  src/components/pages/home/section/who-is-using-game-ci-section.tsx
  src/components/reusable/animations/fade-into-view.tsx
  src/pages/index.tsx
Due: format documents, format code, run tests

Add ReactPlayer and try to make it responsive (#264)
  docs/04-github/01-getting-started.mdx
  docs/05-gitlab/01-getting-started.mdx
  package.json
  src/components/video/video.jsx
  yarn.lock
Due: format documents, format configs, format code, run tests

add cloud runner docs
  docs/cloud-runner/01-introduction.md
  docs/cloud-runner/02-game-ci-vs-cloud-runner.md
  docs/cloud-runner/02-getting-started/aws.md
  docs/cloud-runner/02-getting-started/kubernetes.md
  docs/cloud-runner/03-configuration.md
  docs/cloud-runner/04-command-line.md
  docs/cloud-runner/05-advanced-topics/01-caching.md
  docs/cloud-runner/05-advanced-topics/02-performance.md
  docs/cloud-runner/05-advanced-topics/03-custom-hooks.md
  docs/cloud-runner/05-advanced-topics/04-custom-steps.md
  docs/cloud-runner/05-advanced-topics/05-input-override.md
  docs/cloud-runner/05-advanced-topics/06-garbage-collection.md
  docs/cloud-runner/05-advanced-topics/08-logging.md
  docs/cloud-runner/05-advanced-topics/08-secrets.md
  docs/cloud-runner/05-advanced-topics/09-nested-github-runners.md
  docs/cloud-runner/06-development.md
Due: format documents

Delete 06-remote-builder.md
  docs/04-github/06-remote-builder.md
Due: format documents

Update docs/cloud-runner/01-introduction.md
  docs/cloud-runner/01-introduction.md
Due: format documents
